[2013-03-26 02:43] rockivist opened #104 "Review <maintenanceStatus> values in EAD context - do they make sense?"
Values include the following: revised, deleted, new, deletedSplit, deletedReplaced, cancelled, derived.

I think revised, deleted, new, and derived make sense in an EAD context.

@dpitti - do you see how deletedSplit, deletedReplaced, or cancelled might with for EAD?

If those values don't work for EAD, do we strike them or keep them for consistency with EAC?

[2013-05-06 19:17] rockivist opened #158 "Usage of @localType should be clarified"
2) In general, it does not seem like @localType is being implemented
according to EAC-CPF specifications, which indicates that the value must be a
URI or otherwise defined in `<localTypeStructured>`.

Submitted on Thursday, April 25, 2013 - 4:02pm
Submitted values are:

Name:  Julie Hardesty
Affiliation: Indiana University EAD Working Group
Does this represent an official comment from your affilia

[2013-05-06 19:33] rockivist opened #164 "<note> comments from Indiana"
**NOTE**

1)	Why is it necessary to break up <note> into specific types of note tags?

Submitted on Thursday, April 25, 2013 - 4:02pm
Submitted values are:

Name:  Julie Hardesty
Affiliation: Indiana University EAD Working Group
Does this represent an official comment from your affiliated group? Yes

[2013-05-06 19:56] rockivist opened #171 "Whither extptr and extref?"
Have `<extptr>` and `<extref>` been dispensed with?  What type of linking
mechanisms is available if we're not linking to digital representations from
the collection?

Submitted on Monday, April 29, 2013 - 10:54am
Submitted values are:

Name: Mark Carlson
Affiliation: University of Washington
Does this represent an official comment from your affiliated group? No

[2013-05-06 19:59] rockivist opened #173 "Add @localType to more elements"
It's disappointing that the @localType attribute has not been expanded to
more elements in the revised version.  We're not really gaining any ground in
allowing local customization of EAD elements. Instead, we're limited to the
same constraints as before.  Since it's a "local" customization, why not
allow it on 1) all EAD element or 2) At least all descriptive elements like
`<biogHist>`.

Submitte

[2013-05-06 20:05] rockivist opened #174 "Where to encode URIs for collections (not descriptive records)?"
Submitted on Monday, April 29, 2013 - 12:21pm
Submitted values are:

Name: Kate Bowers
Affiliation: Harvard Library
Does this represent an official comment from your affiliated group? Yes
Comment:
We are wondering where URIs for collections themselves (and components
themselves) might be recorded in revised EAD. The XML @id attribute does not
like colons in its values according to oXygen validatio

[2013-05-06 20:33] rockivist opened #177 "Keep EAD 2002 schema available at current URL, comments on camel case"
1. case sensitivity of elements and attributes/ schema versioning

Introducing capitals for elements and attributes for composite names is in line with writing conventions for beautified code (I should mention that there are two varying forms of the attribute @encodinganalog|@encodingAnalog in the alpha release). However, when this convention will be introduced in the revised EAD, most elements an

[2013-05-06 20:52] rockivist opened #180 "Clarify <relations> model"
Submitted on Tuesday, April 30, 2013 - 6:40am
Submitted values are:

Name: Kerstin Arnold
Affiliation: APEx project (Archives Portal Europe)
Does this represent an official comment from your affiliated group? Yes
Comment:
The following represents a common comment of the APEx project responsible for
the continued development of the Archives Portal Europe, especially to the
Work Package (WP) 4 on st

[2013-07-23 03:56] rockivist opened #236 "Implement rules/source/identifier decision"
See https://docs.google.com/file/d/0B7qoM_riUwnbTmZwVjhab2w1ZzQ/edit?usp=sharing for TS-EAD 7/18 decision under Beta proposal.

Should mostly be a documentaiton issue, so leave open until documentation is addressed.

[2013-08-02 03:39] rockivist opened #249 "Revisit <table> model, consider restoring <thead> and <tbody>"
See also #247

[2013-08-13 20:28] ksferrante opened #258 "Why is the script attribute in every child element of <control>?"
Question from the EAD Hackathon

Why is the script attribute in every element? We could understand the use case in the description sections but had a hard time imagining a use case for defining differing scripts within <control>.

[2013-08-13 20:33] ksferrante opened #260 "You can't encode a date or a number in the title proper? Why not?"
Question from EAD Hackathon

You can't encode a date or a number in the title proper? Why not?

[2013-08-13 20:49] ksferrante opened #262 "<languageset> 2 languages and 2 scripts"
Languageset allows you to put in several scripts and several languages together indiscriminately.  There could be two languages in one scripts or one language in two scripts. But the ability to put two languages and two scripts could be confusing.

Here's an example:
<languageset>
                    <language langcode="eng"/>

                    <language  langcode="ger" lang="eng">German</langu

[2013-10-28 02:52] rockivist opened #300 "Make <quantity> optional in <physdescstructured>"
Submitted on Thursday, September 26, 2013 - 8:31am
Submitted values are:

Name:  Sibille - de Grimoüard Claire
Affiliation: "EAD" and "Authority data" expert groups of the French
Association of Standardization (AFNOR)
Does this represent an official comment from your affiliated group? Yes
Comment:
The `<quantity>` element should be made optional within `<physdescstructured>`

This change will crea

[2013-11-11 03:28] rockivist opened #313 "Clarify relation of custodhist and acqhist now that they no longer nest"
Submitted on Friday, September 27, 2013 - 1:28am
Submitted values are:

Name:  Nicola Frean
Affiliation: Alexander Turnbull Library, National Library of New Zealand
Does this represent an official comment from your affiliated group? No
Comment:
These comments are based on a brief group discussion around Michael Rush's
eamils to the EAD listserv (thankyou Michael!):
1. Disentangling Descriptive Ele

[2013-11-11 03:31] rockivist opened #314 "Are there comparable instances of xlink changes?"
Submitted on Friday, September 27, 2013 - 1:28am
Submitted values are:

Name:  Nicola Frean
Affiliation: Alexander Turnbull Library, National Library of New Zealand
Does this represent an official comment from your affiliated group? No
Comment:
These comments are based on a brief group discussion around Michael Rush's
eamils to the EAD listserv (thankyou Michael!):
2. Simplifying Links - (we appla

[2013-11-11 03:33] rockivist opened #315 "Need examples for mixed content models"
Submitted on Friday, September 27, 2013 - 1:28am
Submitted values are:

Name:  Nicola Frean
Affiliation: Alexander Turnbull Library, National Library of New Zealand
Does this represent an official comment from your affiliated group? No
Comment:
These comments are based on a brief group discussion around Michael Rush's
eamils to the EAD listserv (thankyou Michael!):

We found the explanation of the

[2013-11-11 03:35] rockivist opened #316 "Clarification of *grp element deprecation"
Submitted on Friday, September 27, 2013 - 1:28am
Submitted values are:

Name:  Nicola Frean
Affiliation: Alexander Turnbull Library, National Library of New Zealand
Does this represent an official comment from your affiliated group? No
Comment:
These comments are based on a brief group discussion around Michael Rush's
eamils to the EAD listserv (thankyou Michael!):

Deprecated elements - all the g

[2013-11-11 03:37] rockivist opened #317 "Further explanation of <bibseries> deprecation"
Submitted on Friday, September 27, 2013 - 1:28am
Submitted values are:

Name:  Nicola Frean
Affiliation: Alexander Turnbull Library, National Library of New Zealand
Does this represent an official comment from your affiliated group? No
Comment:
These comments are based on a brief group discussion around Michael Rush's
eamils to the EAD listserv (thankyou Michael!):

We would like to understand bet

[2013-11-11 03:45] rockivist opened #318 "How best to describe born-digital materials?"
Submitted on Friday, September 27, 2013 - 1:28am
Submitted values are:

Name:  Nicola Frean
Affiliation: Alexander Turnbull Library, National Library of New Zealand
Does this represent an official comment from your affiliated group? No
Comment:
These comments are based on a brief group discussion around Michael Rush's
eamils to the EAD listserv (thankyou Michael!):

We also had a question about th

[2013-11-11 03:46] rockivist opened #319 "Where to encode information about conservation treatments?"
Submitted on Friday, September 27, 2013 - 1:28am
Submitted values are:

Name:  Nicola Frean
Affiliation: Alexander Turnbull Library, National Library of New Zealand
Does this represent an official comment from your affiliated group? No
Comment:
These comments are based on a brief group discussion around Michael Rush's
eamils to the EAD listserv (thankyou Michael!):

Lastly, we have been exploring

[2013-11-11 03:59] rockivist opened #322 "Second of two parallel extent statements often less structured"
Submitted on Monday, September 30, 2013 - 7:10pm
Submitted values are:

Name:  Cory Nimer
Affiliation: Brigham Young University
Does this represent an official comment from your affiliated group? Yes
Comment:

3. The `<parallelphysdescset>` structure made sense to us, but we were
concerned about our ability to revise export routines from the Archivists'
Toolkit in order to make our data useful as

[2013-11-11 04:01] rockivist opened #323 "Clarify relationship between relations and controlaccess"
Submitted on Monday, September 30, 2013 - 7:10pm
Submitted values are:

Name:  Cory Nimer
Affiliation: Brigham Young University
Does this represent an official comment from your affiliated group? Yes
Comment:

Based on our review, it was unclear to us how entities with a subject
relationship were to be linked to the EAD record, and the extent to which
`<relation>` was meant to replace `<controlacc

[2013-11-11 04:04] rockivist opened #324 "Clarify usage of conventiondeclaration and localtypedeclaration"
Submitted on Monday, September 30, 2013 - 7:10pm
Submitted values are:

Name:  Cory Nimer
Affiliation: Brigham Young University
Does this represent an official comment from your affiliated group? Yes
Comment:

5. Finally, we had some concerns about the use of the `<conventiondeclaration>`
(and to a lesser extent the `<localtypedeclaration>`) element. While these seem
useful in supporting the docum

[2013-11-11 04:13] rockivist opened #326 "Where to encode URIs for controlaccess terms?"
Submitted on Monday, September 30, 2013 - 3:03pm
Submitted values are:

Name: Julie Hardesty
Affiliation: Indiana University
Does this represent an official comment from your affiliated group? Yes

3)	Control Access headings (`<corpname>`, `<subject>`, etc) - If we wish to
associate URIs for authorized access points, there appear to be 2 possible
attributes that could contain this value: `@id` or

[2013-11-11 04:15] rockivist opened #327 "Comments on <physdescstructured>"
Submitted on Monday, September 30, 2013 - 3:03pm
Submitted values are:

Name: Julie Hardesty
Affiliation: Indiana University
Does this represent an official comment from your affiliated group? Yes

4)	`<physdescstructured>` - The final highlight (#6) that was sent out via
email helped some of our questions with these encoding changes, but there are
still things we are finding confusing, many of wh

[2013-11-11 05:00] rockivist opened #338 "How do the linkarcrole, linkrole, linktitle, and xpointer attributes in `<ref>` and `<ptr>` work?"
Submitted on Monday, September 30, 2013 - 2:02pm
Submitted values are:

Name:  Mary Lacy
Affiliation: Library of Congress
Does this represent an official comment from your affiliated group? Yes
Comment:
Library of Congress Comments on EAD 3 beta release, Sept. 30, 2013:

11.	How do the linkarcrole, linkrole, linktitle, and xpointer attributes in
`<ref>` and `<ptr>` work? (These are taken from XLIN

[2013-11-11 05:01] rockivist opened #339 "Is there a preferred element for listing LCCN or other identifier for the bibliographic description of the collection?"
Submitted on Monday, September 30, 2013 - 2:02pm
Submitted values are:

Name:  Mary Lacy
Affiliation: Library of Congress
Does this represent an official comment from your affiliated group? Yes
Comment:
Library of Congress Comments on EAD 3 beta release, Sept. 30, 2013:

12.	Is there a preferred element for listing LCCN or other identifier for the
bibliographic description of the collection? We’ve

[2013-11-11 05:05] rockivist opened #340 "How extensively should <conventiondeclaration> be used?"
Submitted on Monday, September 30, 2013 - 2:02pm
Submitted values are:

Name:  Mary Lacy
Affiliation: Library of Congress
Does this represent an official comment from your affiliated group? Yes
Comment:
Library of Congress Comments on EAD 3 beta release, Sept. 30, 2013:

14.	Is `<conventiondeclaration>` meant to be used as widely as seems to be
specified? (That is, not only descriptive rules such

[2013-11-14 16:46] anarchivist opened #344 "Provide guidance on use of <materialspec>"
In EAD 2002, `<materialspec>` was understood in part to map to MARC fields [254](http://www.loc.gov/marc/bibliographic/bd254.html), [255](http://www.loc.gov/marc/bibliographic/bd255.html), and [256](http://www.loc.gov/marc/bibliographic/bd256.html). In my opinion, the type of data that appears in a 256 field is probably better expressed in `<extent>`. I'm curious if our work on the geographic elem

[2013-12-05 10:51] bencomp opened #355 "Use hyperlinks among element/attribute definitions in the official tag library"
It would increase the ease of use of the official tag library if mentions of allowed tag and attribute names were links to their definition.

Each element and attribute has a definition, and/or references to other elements and attributes that it can appear in or can appear in it. The current tag libraries (HTML and PDF at loc.gov) do not have links for these references, which makes navigation unne

[2014-01-01 04:52] rockivist opened #366 "Give <part> m.mixed.basic"
As it stands now, `<part>` accepts only text.  This will prove problematic for migration of those elements that now consist of one or more `<part>`s.

My suggestion: Give `<part>` the m.mixed.basic mixed content model.  This will alleviate most of the migration issues.

[2014-01-13 19:58] rockivist opened #374 "Modify controlaccess elements for linked data applications"
Per TS-EAD compromise re: `<relations>` we decided to modify all of the controlaccess elements (see m.access) so that they provide sufficient attributes to support a lightweight linked data application.

@tcatapano and I discussed this and we identified the following components as the minimum necessary for creating LD triples:

Subject: The thing being linked from.
Predicate: a relator term.
Objec

[2014-01-13 20:11] rockivist opened #375 "Review where @encodinganalog is permitted"

[2014-01-13 20:19] tcatapano opened #376 "Binding of declared codelists to code values"
`<conventiondeclaration>` is now intended the mechanism by which codes used for @lang, @langcode, @script, @scriptcode, @countrycode, and the patterns for @repositorycode, and dates are declared in the EAD instance. However, with no child elements being required the binding between the declared codelists and the codes are quite weak. One has to rely on the optional `<abbr>` element to perform the

[2014-01-13 20:33] rockivist opened #377 "Change <publicationstatus>, <maintenancestatus>, <agenttype>, and <eventtype> content to text"
In #283 we decided to give publicationstatus, maintenancestatus, agenttype, and eventtype the m.mixed.basic mixed content model.  This was implemented, but upon further review this differ from most elements in control, which generally accept just text.  I suggest we change these elements to just text in favor of general consistency in control.

[2014-01-15 04:22] rockivist opened #379 "Remove @unit from <physfacet>"
I can't imagine what the use would be for this.

Does make sense on `<dimensions>`, where I think it should remain.

[2014-01-15 20:14] rockivist opened #380 "Remove pattern validation for date normalization attributes"
See #368 for the thread that originated this suggestion.

We have already removed hard-coded validation lists (i.e. for language codes), both because those code lists are updated more frequently than EAD, but also because it would allow people to use alternative code lists when appropriate.

Removing date normalization attribute patterns would fit with the second rationale and allow people to use

[2014-01-16 03:08] rockivist opened #381 "Replace <daogrp> with <daoset>"
At the March 2012 meeting we agreed to eliminate all extended links, which included `<daogrp>`.  However, feedback on both the alpha and the beta releases made it clear that the community saw a need for `<daogrp>`, so we agreed to restore it.

However: while putting `<daogrp>` back into the schema it became clear again just why we removed it - it is extremely over complicated for how it is used.

[2014-01-16 03:38] rockivist opened #382 "Replace <daodesc> with <descriptivenote>"
Now that `<dao>` is restricted to the `<did>`, it makes little sense for `<daodesc>` to continue to allow block elements like head, blockquote, list, chronlist, and table (if it ever made sense at all).

Terry did queried the ArchiveGrid corpus and found zero instances of blockquote, list, chronlist, or table within daodesc, and only 8 instances of head.  Current practice, essentially, is to only

[2014-01-16 03:51] rockivist opened #383 "Add @localtype, @label, and @encodinganalog to <dao>"
Add `@label` because dao is the only `<did>` child without it.

Add `@localtype` despite that presence of `@daotype` to support linking scenarios within `<daoset>` that can't be modeled with the simple linking attributes (i.e. role and arcrole).

Add `@encodinganalog` as per #375.

[2014-03-06 14:32] rockivist opened #400 "Use of <daoset> for thumbnails embedded in finding aids?"
Submitted on Friday, February 28, 2014 - 2:33pm
Submitted values are:

Name:  Kate Bowers
Affiliation: Harvard University Library
Does this represent an official comment from your affiliated group? Yes
Comment:
Use of `<daoset>` for thumbnails embedded in finding aids?

I wasn't sure if `<daoset>` was envisioned as the mechanism for embedding
thumbnails with links to resources in EAD.  I assume a

[2014-03-06 14:56] rockivist opened #408 "Add @role to <function>, supply relationship vocabulary"
Submitted on Friday, February 28, 2014 - 8:45am
Submitted values are:

Name: Karsten Kühnel
Affiliation:
Does this represent an official comment from your affiliated group? No
Comment:
1.	Element `<function>`, attribute `@role` and relationships
The element `<function>` is described in the Gamma Schema for EAD Revision by
the beta release description yet. I would be happy if also for `<function>`

[2014-03-06 15:42] rockivist opened #410 "More example of <physdescstructured> for audiovisual, born-digital, mixed materials"
Submitted on Friday, February 28, 2014 - 2:32pm
Submitted values are:

Name: Ronda L. Sewald
Affiliation: Indiana University
Does this represent an official comment from your affiliated group? No
Comment:
I definitely feel the gamma version is an improvement over the beta version.
I would mostly like to see additional examples as to how to apply the tags
within `<physdescstructured>` for more comp

[2014-03-06 15:48] rockivist opened #412 "Will there be clear rules as to how to apply <part>?"
Submitted on Friday, February 28, 2014 - 2:32pm
Submitted values are:

Name: Ronda L. Sewald
Affiliation: Indiana University
Does this represent an official comment from your affiliated group? No
Comment:

Will there be clear rules as to how to apply `<part>` for wrapping authorized
headings (e.g., the entire heading versus multiple tags around a name,
qualifier, dates, etc.)? This would assure co

[2014-03-06 15:52] rockivist opened #414 "Need examples for physdescstructured/@coverage"
Submitted on Friday, February 28, 2014 - 2:32pm
Submitted values are:

Name: Ronda L. Sewald
Affiliation: Indiana University
Does this represent an official comment from your affiliated group? No
Comment:

Could use an example clarify the difference between "whole" and "part" for
`@coverage` under `<physdescstructured>`.

The results of this submission may be viewed at:
http://www2.archivists.org/

[2014-03-06 15:58] rockivist opened #417 "Why are the types of physical description tags available at the collection level different from those at the lower component levels?"
Submitted on Friday, February 28, 2014 - 2:32pm
Submitted values are:

Name: Ronda L. Sewald
Affiliation: Indiana University
Does this represent an official comment from your affiliated group? No
Comment:

Why are the types of physical description tags available at the collection
level different from those at the lower component levels?

The results of this submission may be viewed at:
http://www2

[2014-03-06 16:00] rockivist opened #418 "Need <materialspec> example re: music records"
Submitted on Friday, February 28, 2014 - 2:32pm
Submitted values are:

Name: Ronda L. Sewald
Affiliation: Indiana University
Does this represent an official comment from your affiliated group? No
Comment:

For `<materialspec>`, the description states that it can be used to record
information about the “physical presentation data for music records,” but
even as an audiovisual/music cataloger, I'm n

[2014-03-06 19:23] rockivist opened #421 "Would have liked to include xlink: and xml: namespaces"
Submitted on Thursday, February 27, 2014 - 4:12pm
Submitted values are:

Name:  Sibille - de Grimouard Claire
Affiliation: Service interministériel des archives de France
Does this represent an official comment from your affiliated group? Yes
Comment:

In addition, it would have
been nice to use XML and Xlink libraries, for instance to include in EAD the
attributes `@xml:id` and `@xml:lang`.

[2014-03-06 19:35] rockivist opened #422 "Note future deprecation of <dsc>"
After initially agreeing to deprecate `<dsc>` and allow components as direct children of `<archdesc>`, we reversed out decision.  That change was in recognition of the challenge of how to migrate existing EAD instances that include multiple `<dsc>` elements.

We resolved to warn the EAD community that although EAD3 will allow for multiple `<dsc>` elements, we anticipate that the next revision will

[2014-03-24 17:35] rockivist opened #432 "Remove @linktype?"
Now that we have removed all non-simple links from EAD, do we need to keep `@linktype` in the schema?  I see no functional reason to do so.  The only argument I can see is for careful compatibility with xlink.  I note that EAC-CPF only includes simple links, but still carries `@xlink:type`.  See http://www3.iath.virginia.edu/eac/cpf/tagLibrary/cpfTagLibrary.html#xlinktype.

@tcatapano - what do yo

[2014-03-31 02:56] rockivist opened #442 "In Relax, move all remaining <did> children element definitions into m.did?"

[2014-05-08 01:44] ruthtillman opened #444 "`@char` and `@charoff` should be in `<tgroup>`?"
Now that `@align` has the possible value of "char" again, should `@char` and `@charoff` be added to `<tgroup>`, since it has `@align`? Otherwise one might set the value to "char" but not be able to add the data for it. Or should it just be left as is because it's kind of meaningless and should be set in `<colspec>` anyway?

Right now, `<colspec>` and `<entry>` are the only places where those two a

[2014-09-19 14:55] tcatapano opened #452 "separate out definitions or control and revision into own files"
Place element definitions for `<control>` and `<relations>` in own files to facilitate inclusion in multiple schemas (EAC-CPF, EAD, EAC-F...)

[2014-09-19 15:50] tcatapano opened #453 "possible elements to be deprecated in EAD3"
archdescgrp (not present in 2002 schemas)

descgrp

dscgrp (not present in 2002 schemas)

eadgrp (not present in 2002 schemas)

frontmatter (including title page, div)

imprint (bibref, unittitle), bibseries (bibref, [titlepage], unittitle)

physdesc (including extent)

runner

[2014-10-05 21:16] tcatapano opened #457 "Use xsd:boolean for av.yesorno"

[2015-01-06 20:24] kshepher commented on #432
Thanks, @rockivist. I'll leave this open, then.

[2015-01-08 04:00] rockivist commented on #444
@tcatapano This didn't make it into ead_revised_defs.rng. Can you re-add?

[2015-01-08 04:09] rockivist commented on #444
@tcatapano Actually - wait on this.  Let's discuss on Friday. Looking at this again I'm changing my mind and I think it might be better left as it was in EAD 2002.

[2015-01-09 15:47] tcatapano commented on #444
Discussed and decided to not include in EAD3.

[2015-01-09 15:47] #444 closed

[2015-01-09 16:11] tcatapano commented on #457
Remove xs:boolean as type for @pgwide, @colsep, @rowsep, @parallel, and @approximate and create attribute value pattern (0|1) or (true|false) (bearing in mind that @pgwide, @colsep, @rowsep, @parallel are currently 0|1). Concern is that having both 0|1 or true|false as legal values as per xs:boolean would create inconsistencies which would complicate processing in a non-schema aware environment.

[2015-01-09 16:17] tcatapano opened #463 "use true|false as values of @pgwide, @colsep, @rowsep, @parallel, and @approximate"
see #457

[2015-01-09 16:21] #457 closed

[2015-01-09 16:22] #453 closed

[2015-01-09 16:22] tcatapano commented on #452
Postponed

[2015-01-09 16:22] #452 closed

[2015-01-09 16:22] #442 closed

[2015-01-09 16:36] tcatapano commented on #463
implemented

[2015-01-09 16:36] #463 closed

[2015-01-16 14:30] kshepher commented on #408
Incorporated into TL.

[2015-01-16 14:30] #408 closed

[2015-02-24 14:15] kshepher commented on #104
Text similar to that used for EAC has been incorporated into the Tag Library.

[2015-02-24 14:15] #104 closed

[2015-02-24 14:23] kshepher commented on #158
@rockivist Could you clarify the documentation need here? Is it just to specify that, indeed, @localtype in EAD isn't following the EAC model? Thanks.

[2015-02-24 14:46] #249 closed

[2015-02-24 14:46] tcatapano commented on #158
@kshepher, @rockivist: I'd recommend adopting the CPF language, but
changing what is said about URIs, here is an inelegant stab at it, which at
least gets at most of the issues...

Summary:

Used to make the semantics of the element more specific or to provide
semantic specificity to elements that are semantically weak.

Description:

The localtype attribute is intended to provide a means to narro

[2015-02-24 14:50] kshepher commented on #258
@rockivist: Is current language sufficient?

@lang  Language
Indicates the language of the content of an element.  Content of the attribute should be a code taken from ISO 639-2b. May be used consistently in a multi-lingual finding aid to specify which elements are written in which language. Available on all non-empty elements.

@script  Script
Indicates the writing script of the content of an ele

[2015-02-24 14:54] rockivist commented on #158
@kshepher I like what @tcatapano suggests.  The crucial piece was to remove the URI requirement and clarify why.

[2015-02-24 14:58] rockivist commented on #258
@kshepher No. The definition for `@lang` in particular needs to be revised. We loosened the schema to mention other ISO code lists.  See `@langencoding` on `<control>` for the options. I think we can reommend 639-2b, but we should mention the others, and also allow for alternative codes to be used in conjuction with langencoding="otherlangencoding".

[2015-02-24 15:24] kshepher commented on #158
Thanks! The attribute section doesn't separate Summary and Description, so I just used the one paragraph and made some very minor tweaks to try to make it more readable:

@localtype  Local Type
An optional attribute allowing a general type to be recorded for local use. This attribute is intended to provide a means to narrow the semantics of an element, or provide semantics for elements that are pr

[2015-02-24 15:24] #158 closed

[2015-02-27 16:27] kshepher commented on #258
Thanks for the clarification. TL updated to include the broader list of options, and to make the relationship between @lang and @langencoding more apparent.

[2015-02-27 16:27] #258 closed

[2015-02-27 16:57] kshepher commented on #313
Description and see also references on both elements make usage clear in TL.

[2015-02-27 16:57] #313 closed

[2015-02-27 17:19] kshepher commented on #319
Added conservation as an example of the kind of info to be included. Could add to examples as well.

[2015-02-27 18:26] #383 closed

[2015-02-27 18:28] #382 closed

[2015-02-27 18:31] #381 closed

[2015-02-27 18:43] kshepher commented on #380
@rockivist Where do you think it's best to incorporate information about using schematron to validate content within the TL? Within each of the relevant elements, in a preface, both?

[2015-02-27 21:37] #379 closed

[2015-02-27 21:39] #377 closed

[2015-02-27 21:48] #376 closed

[2015-02-27 21:55] #375 closed

[2015-02-27 22:02] #366 closed

[2015-03-02 15:55] kshepher commented on #339
TL updated to show link to catalog record as example in otherfindaid instead of control note.

[2015-03-02 15:55] #339 closed

[2015-03-04 15:15] kshepher commented on #344
Looking at the MARC examples for 256 reinforces the point about field 256, and I've changed the mapping. The addition of the geographiccoordinates element accommodates 255$c, but not the other contents of 255, so I've split that up in the crosswalks for both MARC and MODS.

[2015-03-04 15:15] #344 closed

[2015-03-04 15:21] kshepher commented on #340
The element is optional, and current TL language tries not to be prescriptive, but to describe how it could be used.

[2015-03-04 15:21] #340 closed

[2015-03-04 15:23] rockivist commented on #380
@kshepher I think the preface needs to address in detail the validation functionality that has been removed to Schematron. Individual tag definitions should for the most part stick to what is represented in the schema.  We'll keep the schematron documentation mostly online - it will evolve over time too much for it to be incorporated into the print Tag Library.

[2015-03-04 15:47] #315 closed

[2015-03-04 15:52] #260 closed

[2015-03-04 15:53] #177 closed

[2015-03-04 15:54] #236 closed

[2015-03-04 15:56] #173 closed

[2015-03-04 15:57] kshepher commented on #171
<ptr> and <ref> to be used for both internal and external links. TL includes this in description for these elements.

[2015-03-04 15:57] #171 closed

[2015-03-04 16:17] kshepher commented on #380
That was my feeling as well. I'll leave this open to make sure it gets into the preface.

[2015-04-07 17:02] tcatapano opened #465 "schematron: unitdate and date normal validation not working"

[2015-04-07 19:54] tcatapano commented on #465
Closed. It works. It's just quite lax and the test cases I was using were all technically valid.

[2015-04-07 19:54] #465 closed

[2015-04-07 19:56] tcatapano opened #466 "schematron: lang codes"
Need to find an xml version of iso639-3; address otherlangencoding case; remove default of iso6392?

[2015-05-08 18:08] kshepher commented on #355
The online Tag Library will be fully linked, as the EAC TL is.

[2015-05-08 18:08] #355 closed

[2015-06-18 02:40] rockivist commented on #414
I added more examples to physdescstructured. Closing

[2015-06-18 02:40] #414 closed

[2015-06-18 20:16] kshepher commented on #374
Verified documentation.

[2015-06-18 20:16] #374 closed

[2015-06-18 20:25] kshepher commented on #318
@rockivist added examples for this.

[2015-06-18 20:25] #318 closed

[2015-06-18 20:29] rockivist commented on #314
Addressed in intro. Closing

[2015-06-18 20:29] #314 closed

[2015-06-18 20:30] rockivist commented on #262
Addressed in TL. Closing.

[2015-06-18 20:30] #262 closed

[2015-06-18 20:36] kshepher commented on #400
Need example of a <daoset> with two <dao>s - one with localtype set to thumbnail, another with fullsize or some other local terminology.

[2015-06-18 20:41] rockivist commented on #417
Resolved.

[2015-06-18 20:41] #417 closed

[2015-06-18 20:44] rockivist opened #467 "Document schematron validation for TL"
Need to account for schematron validation somewhere in TL. Probably need @tcatapano to address this.

[2015-06-18 21:17] rockivist commented on #300
Added examples. Closing

[2015-06-18 21:17] #300 closed

[2015-06-18 21:22] rockivist commented on #322
Examples added. Closing.

[2015-06-18 21:22] #322 closed

[2015-06-18 21:28] rockivist commented on #326
Updated documentation to clarify `@id` and `@identifier`. Closing.

[2015-06-18 21:28] #326 closed

[2015-06-18 21:34] rockivist commented on #327
Addressed in TL. Closing.

[2015-06-18 21:34] #327 closed

[2015-06-18 21:36] rockivist commented on #410
Examples added. More welcome but OK for now. Closing

[2015-06-18 21:36] #410 closed

[2015-06-18 21:43] rockivist commented on #324
Added clarification in TL. Closing.

[2015-06-18 21:43] #324 closed

[2015-06-19 02:31] rockivist commented on #338
Clarified in the TL. Closing.

[2015-06-19 02:31] #338 closed

[2015-06-19 14:07] rockivist opened #468 "Inconsistent data types on "otherATTRIBUTENAME" attributes"
During my TL attribute review I noticed that the various "otherATTRIBUTENAME" attributes have inconsistent data types. They are as follows:

otherdaotype - none
otherphysdescstructuredtype - none
otherdsctype - NMTOKEN
otherrelationtype - string
otherlevel - NMTOKEN

@tcatapano I think this merits a change to the schema to bring them into alignment. I'm thinking token is the best option here. What

[2015-06-19 14:31] rockivist commented on #468
For the record I have updated the TL to reflect how it currently stands.

[2015-06-19 16:09] rockivist commented on #380
@tcatapano There is a problem in the schema re: this issue. We intended to remove the date normalization pattern from all of the attributes listed above in my first comment on the issue. However, as it stands now, the only attribute for which the pattern has been removed is `@normal`. Unless I am failing to remember a conversation and justification for why we should keep the pattern on the others,

[2015-06-22 15:16] tcatapano commented on #380
@rockivist my guess is that the patterns exist in the elements drawn from EAC-CPF and were retained. While I think it is better to remove the patterns from attributes of elements under `<archdesc>`, wouldnt it be best for values of dates and times in `<control>` to be, well, controlled?

[2015-06-22 15:26] tcatapano commented on #468
@rockivist I agree that token is probably the way to go. I'm having a hard time coming up for a reasonable argument for permitting the extra whitespace allowed by string and normalizedString.

[2015-06-22 15:35] ruthtillman commented on #380
@tcatapano I agree it makes sense to control at the least what's in control, esp if reflecting EAC-CPF. Was there a reason this would be too much of a burden for end users?

[2015-06-22 15:44] rockivist commented on #380
@tcatapano Yes, you're exactly right that the patterns persist in the EAC-CPF elements. Following your logic, we should keep the pattern validation on `@standarddatetime` and `@lastdatetimeverified` but remove it from `@notbefore`, `@notafter`, and `@standarddate`. It's not a perfect divide between control and archdesc, but it's pretty close.

Sound good?

@ruthtillman The decision to remove patte

[2015-06-22 15:47] rockivist commented on #468
@tcatapano OK. Implement it when you can.

[2015-06-23 15:44] rockivist opened #469 "Add `@tpattern` to undeprecated schema"
@tcatapano One final schema tweak (I swear). In the undeprecated schema, please restore `@tpattern` as an attribute on `<dsc>` and the component elements. Refer to EAD 2002 schema if you need. Keep the NMTOKEN datatype.

[2015-06-26 18:54] tcatapano commented on #468
Implemented. Closed.

[2015-06-26 18:54] #468 closed

[2015-06-26 21:22] tcatapano commented on #469
implemented

[2015-06-26 21:22] #469 closed

[2015-06-27 19:22] tcatapano opened #470 "model for list"
Is this really what is intended?

`<!ELEMENT list (head?,(item+|(listhead?,defitem+)))>                           `

That is, an optional head, followed by one or more items OR an optional listhead followed by one or more defitems.

FWIW, this is how it is in EAD 2002.

The Tag Library says this about `<listhead>`: "A formatting element that groups headings for columns in a definition, unordered,

[2015-06-27 19:51] tcatapano commented on #380
`@notbefore`, '@notafter`, and `@standarddate` now have datatype token. `@standarddatetime` and `@lastdatetimeverified` unchanged

[2015-06-27 20:38] tcatapano opened #471 "deglobalize.xsl not copying values of maxOccurs attrs"
Totally perplexing.

[2015-06-27 20:51] tcatapano commented on #471
Fixed

[2015-06-27 20:51] #471 closed

[2015-06-27 21:02] dpitti commented on #470
It would not make sense, that is, unless you have changed <defitem> for EAD3, as a column head for a third column would not make sense in a <list> containing a series of <defitem>. Answering the very last question.

On Jun 27, 2015, at 3:22 PM, tcatapano <notifications@github.com> wrote:

[2015-06-28 00:49] rockivist commented on #470
@tcatapano @dpitti We added `<head03>` to `<listhead>` for use in `<chronlist>` to give headings for `<geogname>`, which are now included in the model along with events and dates.  That does mean that `<head03>`

[2015-06-28 01:08] rockivist commented on #470
TL updated. Closing.

[2015-06-28 01:08] #470 closed

[2015-06-28 01:38] rockivist opened #472 "Add patterns for @notbefore, @notafter, and @standarddate to schematron"
Add patterns from EAC-CPF for `@notbefore`, `@notafter`, and `@standarddate` to the schematron. See #380 for context.

[2015-06-28 01:39] rockivist commented on #380
TL updated. See #472 re: adding patterns to schematron. Closing.

[2015-06-28 01:39] #380 closed

[2015-06-28 13:33] tcatapano commented on #466
What is the desired functionality for otherlangencoding? It's very difficult to come up with a rule and tests for it generally.

[2015-06-28 13:41] tcatapano commented on #466
Has it been decided to remove iso639-2b as the default?

[2015-06-28 17:52] rockivist commented on #466
@tcatapano Re: otherlangencoding - I don't think the schematron needs to do anything regarding it. If someone wants to use another language code list beyond the three we include, they can figure it out.

Re: iso639-2b, yes, we can assume that is still the default. If there is no `@langencoding` on `<control>` then we should validate against iso639-2b.

[2015-06-29 17:36] rockivist commented on #432
Addressed in TL preface. Closing.

[2015-06-29 17:36] #432 closed

[2015-06-29 17:37] rockivist commented on #421
Addressed in preface. Closing.

[2015-06-29 17:37] #421 closed

[2015-06-29 17:38] rockivist commented on #164
Addressed in preface. Closing.

[2015-06-29 17:38] #164 closed

[2015-06-29 20:34] tcatapano commented on #472
Implemented in develop branch.

[2015-06-29 20:34] #472 closed

[2015-06-29 20:35] tcatapano opened #473 "add license, documentation to schema?"
If so, which license, what information?

[2015-06-29 21:13] rockivist commented on #473
Add the CC0 license, which we agreed to add to all code for EAD3. I believe it is already in the migration style sheet.

What documentation do you think we need in the schema?

[2015-07-04 02:40] rockivist opened #474 "In EAD3 undeprecated, fix extent attributes"
Add am.common, a.label, a.encodinganalog, and a.localtype models, then create attribute `@unit`, as optional, token.

[2015-07-06 20:45] kshepher commented on #412
Addressed in text and included multiple examples.

[2015-07-06 20:45] #412 closed

[2015-07-06 20:48] tcatapano commented on #474
Implemented. Closed.

[2015-07-07 02:28] rockivist opened #475 "Add bibseries to bibref in undeprecated EAD3"
Sorry to keep turning up bugs in the undeprecated schema. Will be through these soon.

[2015-07-07 03:24] rockivist opened #476 "Add imprint to bibref in undeprecated EAD3"

[2015-07-07 04:12] MicheleCombs commented on #476
Hm, I'm beginning to wonder if Kelcy and I are jumping the gun on validating examples for the tag library. I just finished taking imprint out of a bunch of them.

Michele

________________________________
From: Michael Rush <notifications@github.com>
Sent: Monday, July 6, 2015 11:24 PM
To: SAA-SDT/EAD-Revision
Subject: [EAD-Revision] Add imprint to bibref in undeprecated EAD3 (#476)

-
Reply to th

[2015-07-07 11:16] rockivist commented on #476
@MicheleCombs imprint and bibseries (along with all deprecated elements) should absolutely be removed from all examples in the main section of the tag library. They will only exist in the undeprecated version of EAD3, and will only have examples in Appendix B, which I am working through. So full speed ahead with examples validated against the main schema.

[2015-07-07 13:08] MicheleCombs commented on #476
Ah yes – I missed the key word “undeprecated” – sorry!

Michele

From: Michael Rush [mailto:notifications@github.com]
Sent: Tuesday, July 07, 2015 7:16 AM
To: SAA-SDT/EAD-Revision
Cc: Michele R Combs
Subject: Re: [EAD-Revision] Add imprint to bibref in undeprecated EAD3 (#476)

@MicheleCombs<https://github.com/MicheleCombs> imprint and bibseries (along with all deprecated elements) should absolute

[2015-07-09 02:00] rockivist commented on #316
Addressed (briefly) in TL preface. In short: we removed the *grp elements that were extended links because the extended link functionality was deemed too complicated and unnecessary. Closing.

[2015-07-09 02:00] #316 closed

[2015-07-09 02:02] rockivist commented on #317
Addressed briefly in TL preface. In short, bibseries (and imprint) were deprecated because they were deemed unnecessary in an archival description context and did not fit into the updated mixed content models in EAD3. Closing.

[2015-07-09 02:02] #317 closed

[2015-07-09 02:04] rockivist commented on #323
Addressed in TL preface and element definitions. Closing.

[2015-07-09 02:04] #323 closed

[2015-07-09 02:06] rockivist commented on #180
Addressed by discussion of "experimental" status of relations in TL. Closing.

[2015-07-09 02:06] #180 closed

[2015-07-09 02:30] rockivist commented on #422
Addressed in TL. Closing.

[2015-07-09 02:30] #422 closed

[2015-07-09 03:20] rockivist commented on #474
@tcatapano You missed adding `@unit` to extent in the undeprecated driver. Reopening.

[2015-07-09 03:42] kshepher commented on #400
Example included in TL.

[2015-07-09 03:42] #400 closed

[2015-07-09 03:46] kshepher commented on #319
Added example.

[2015-07-09 03:46] #319 closed

[2015-07-09 03:50] kshepher commented on #174
Added example.

[2015-07-09 03:50] #174 closed

[2015-07-09 03:54] kshepher commented on #418
Score example draw from MARC 254.

[2015-07-09 03:54] #418 closed

[2015-07-09 12:32] MicheleCombs commented on #418
I think I included one of these in the examples I sent you, Kelcy.

From: kshepher [mailto:notifications@github.com]
Sent: Wednesday, July 08, 2015 11:55 PM
To: SAA-SDT/EAD-Revision
Subject: Re: [EAD-Revision] Need <materialspec> example re: music records (#418)

Score example draw from MARC 254.

—
Reply to this email directly or view it on GitHub<https://github.com/SAA-SDT/EAD-Revision/issues/41

[2015-07-09 16:13] tcatapano commented on #474
Implemented. Closing.

[2015-07-09 16:13] #474 closed

[2015-07-09 17:59] #476 closed

[2015-07-09 17:59] tcatapano commented on #475
Implemented. Closed.

[2015-07-09 17:59] #475 closed

[2015-07-09 18:00] tcatapano opened #477 "Add agencycode to code-list checks in schematron?"

[2015-07-09 19:52] kerstarno opened #478 "Values for @mark and @numeration"
It seems contradictory that we have the values "upperalpha", "loweralpha", "upperroman", "lowerroman" for @numeration with ordered lists as well as for @mark with unordered ones. Might be an idea to separate these.

Also, as this is supposed to be aligned with CSS, the values should be used with a hyphen.

[2015-07-10 12:44] MicheleCombs commented on #478
Agree.  Unordered lists by definition don’t have letters or numbers, otherwise they become ordered lists.

From: Kerstin Arnold [mailto:notifications@github.com]
Sent: Thursday, July 09, 2015 3:53 PM
To: SAA-SDT/EAD-Revision
Subject: [EAD-Revision] Values for @mark and @numeration (#478)

It seems contradictory that we have the values "upperalpha", "loweralpha", "upperroman", "lowerroman" for @num

[2015-07-10 20:25] rockivist opened #479 "Add test for suggest values for @calendar to schematron"
Suggested values are gregorian and julian.

[2015-07-10 20:34] rockivist opened #480 "Add test for suggested @era values to schematron"
Suggested values include ce and bce.

[2015-07-11 00:28] rockivist opened #481 "Add test for MARC relator codes in @relator to Schematron"
See http://www.loc.gov/marc/relators/relacode.html. I'd include both the code and the term names in the list of permissible values.

[2015-07-11 01:11] rockivist commented on #477
Yes, add the pattern from EAC-CPF that we elected to remove.  Here it is:

`<param name="pattern">(([A-Z]{2})|([a-zA-Z]{1})|([a-zA-Z]{3,4}))(-[a-zA-Z0-9:/\-]{1,11})</param>`

[2015-07-11 01:18] rockivist commented on #478
@kerstarno Thanks for spotting this.

@tcatapano Go ahead and implement. I have updated the tag library to reflect the following:

`@mark` values: disc, circle, square, none, inherit

`@numeration` values: decimal, decimal-leading-zero, lower-roman, upper-roman, lower-greek, lower-latin, upper-latin, armenian, georgian, lower-alpha, upper-alpha, inherit

[2015-07-13 00:45] rockivist opened #482 "Add test for second <dsc> to schematron"
@tcatapano Please add a rule to the schematron that gives the following message if two or more `<dsc>` are present.

"The use of multiple `<dsc>` elements is discouraged. It may be deprecated in the future and eliminating multiple `<dsc>` elements will ease future migration."

Feel free to wordsmith if that seems unclear.

[2015-07-14 02:51] rockivist opened #483 "Write introductory comment to include in EAD3 schemas"
Need to write some acknowledgements, probably some technical advice.

[2015-07-15 15:20] rockivist opened #484 "Create schematron test to restrict quantity values to numbers"
As suggested by @tcatapano. Data type of integer or decimal.

[2015-07-15 15:24] rockivist opened #485 "Add @render to <quote>"
A suggestion from @tcatapano. Just logging the idea - not to be included in the initial version of EAD3.

[2015-07-18 02:15] rockivist opened #486 "Rename schematron ead3.sch"
Rather than ead.sch, change it to ead3.sch to keep it consistent with the schema names.

[2015-07-24 02:19] rockivist commented on #483
@tcatapano Just emailed a draft of an introductory comment to you. Assigning this to you.

[2015-07-27 18:02] tcatapano commented on #478
implemented.

[2015-07-27 18:02] #478 closed

[2015-08-03 17:20] tcatapano commented on #481
I'll use http://id.loc.gov/vocabulary/relators.rdf. So you'd like to do a test that the value of the relator attribute match the value of a madsrdf:authoritativeLabel *OR*  madsrdf:code?

[2015-08-03 17:35] tcatapano commented on #477
Should I use the text from the AgencyCode element description in the EAC-CPF Tag Library in the error message: "The format of the code is constrained to that of the International Standard Identifier for Libraries and Related Organizations (ISIL: ISO 15511): a prefix, a dash, and an identifier. "?

[2015-08-03 17:44] rockivist commented on #477
@tcatapano Sounds good to me.

[2015-08-03 17:52] rockivist commented on #481
@tcatapano Yes, that's what I was thinking. But perhaps we should omit this from the schematron. Although the MARC relator codes would be appropriate to use on `@relator`, there is nothing compelling people to do so. I don't want the schematron to be confused for something prescriptive. Perhaps we could include it but have it commented out by default. What do you think?

[2015-08-03 20:33] tcatapano commented on #479
Not concerned this may be too western-centric?

[2015-08-03 20:46] tcatapano commented on #481
I think we should leave this out for now. If we have the time I can develop an optional pattern which can be imported into the primary schematron

[2015-08-03 21:01] rockivist commented on #479
@tcatapano Leave it out.

[2015-08-03 21:02] rockivist commented on #481
@tcatapano I agree. Table it for now.

[2015-08-06 03:49] rockivist opened #487 "Bug in schematron language code rule"
Getting the following bug when testing the schematron:

"System ID: C:\Users\mr498\Documents\GitHub\EAD-Revision\schematron\ead3.sch
Main validation file: C:\Users\mr498\Desktop\beinecke.hayward_ead3.xml
Engine name: ISO Schematron
Severity: fatal
Description: Required item type of first operand of '|' is node(); supplied value has item type xs:string
Start location: 234:0"

Problem seems to be in

[2015-08-06 04:02] rockivist opened #488 "@relationtype incorrectly referred to as @otherrelation"
Typo in schematron

[2015-08-06 04:03] rockivist commented on #488
Fixed.

[2015-08-06 04:03] #488 closed

[2015-08-06 04:10] rockivist opened #489 "Add rule for co-ocurrence of @listtype="ordered" and @numeration"

[2015-08-06 04:11] rockivist commented on #489
Implemented.

[2015-08-06 04:11] #489 closed

[2015-08-06 14:19] rockivist commented on #477
Looks good. Closing.

[2015-08-06 14:19] #477 closed

[2015-08-06 14:20] rockivist commented on #486
Looks good. Closing.

[2015-08-06 14:20] #486 closed

[2015-08-06 14:20] rockivist commented on #482
Tested and looks good. Closing.

[2015-08-06 14:20] #482 closed

[2015-08-06 14:21] rockivist commented on #480
Tested. Looks good. Closing.

[2015-08-06 14:21] #480 closed

[2015-08-06 14:24] rockivist commented on #479
Commented out the relevant rule. Closing.

[2015-08-06 14:24] #479 closed

[2015-08-06 14:55] rockivist opened #490 "Normalized date attribute validation not working in Schematron"
@tcatapano I started to try to fix it, but I think it's over my head. Here's what I've noticed:

1) The rule for ead:datesingle misses ead:fromdate and ead:todate. All three share the same single date normalization attributes, and should be handled in the same way.
2) The patterns for single date attributes as well as `@normal` on unitdate and date should only be enforced if `control/@dateencoding

[2015-08-06 15:19] tcatapano commented on #490
@rockivist: 1 is just an oversight and 2 should be implementable (if a pain). The problem with the date validation is (I think ) because the expression need to be anchored so they match the entire value of the attr. I'll give it a try. Xpath matches() and the pattern expression matching in RNG and XSD must differ.

[2015-08-06 17:19] tcatapano commented on #487
Error is caused by the OR lookup against the iso_639_3.xml  file in the language-code-lookup variable. I'll need to figure out how to do the validation so that it includes is639-3. Removing support for it now.

[2015-08-07 20:08] tcatapano opened #491 "Perform date validation only when dateencoding="iso8601""
The patterns for single date attributes as well as @normal on unitdate and date should only be enforced if control/@dateencoding="iso8601"

[2015-08-07 20:08] tcatapano commented on #490
See #491

[2015-08-07 20:08] #490 closed

[2015-08-07 20:11] tcatapano commented on #483
Include names of TS-EAD and SDT members?

[2015-08-07 20:15] tcatapano commented on #466
Think this is closed

[2015-08-07 20:15] #466 closed

[2015-08-07 20:28] tcatapano opened #492 "Create XSLT2 version from ead3.sch"
Important for validation outside of oXygen

[2015-08-07 20:31] tcatapano opened #493 "Test EAD3/XSD embedded in METS"

[2015-08-07 20:37] tcatapano opened #494 "Test EAD3 XSD(s) in XMLSpy"

[2015-08-12 20:26] tcatapano opened #495 "include agencycode restriction in schema"
Since it's for only one element and the pattern is schema-defined in EAC-CPF on which it is based.

[2015-08-13 01:03] rockivist commented on #495
@tcatapano We intentionally removed the pattern from the schema because in practice may repositories don't follow the standard pattern for agency code identifiers. Daniel indicated that it's been a problem in EAC-CPF and that they will remove the pattern in future revisions. So it's better off in the Schematron.

Closing.

[2015-08-13 01:03] #495 closed

[2015-08-13 18:51] tcatapano opened #496 "test for ranges in normal (other date?) attributes"
to allow for "1999/2001" "1999-01-05/1999-01-15", etc...

[2015-08-14 04:05] rockivist commented on #496
@tcatapano Almost there. My tests of `@normal` work in the following patterns: YYYY, YYYY-MM, YYYY-MM-DD, YYYY/YYYY, YYYY-MM/YYYY-MM, and YYYY-MM-DD/YYYY-MM-DD. The schematron validation throws an error, however, when the begin and end of a range do not have the same pattern. For example, YYYY/YYYY-MM, YYYY-MM-DD/YYYY-MM give errors. I see from your commit that this was intentional on your part.

[2015-08-14 04:13] rockivist commented on #483
@tcatapano Yes, include the names of TS-EAD and SDT members. The list as included in the Tag Library is as follows:

TS-EAD members during the revision process included Mike Rush, co-chair, Yale University; Bill Stockting, co-chair, British Library (UK); Kerstin Arnold, Bundesarchiv (Germany); Michael Fox, Minnesota Historical Society; Kris Kiesling, University of Minnesota; Angelika Menne-Haritz,

[2015-08-14 04:16] rockivist commented on #473
@tcatapano Is there an issue with using the same CC0 license as you added to the migration style sheet? I think a simple reference and link to the license is sufficient. It should be in the introductory comment.

[2015-08-14 13:39] tcatapano commented on #496
You are getting the current behavior of the code. Part of this issue is that a clearer definition of what we mean by "ISO 8601" date needs to be articulated. ISO 8601 allows for a lot of variation which is difficult to test for. What we really doing is testing against a subset of ISO 8601; and different ones for normal and the other date attributes. The pattern is the one used by the EAD 2002 XSD

[2015-08-15 20:24] tcatapano commented on #487
This should now be fixed in develop.

[2015-08-15 20:30] tcatapano commented on #483
I've added some text, reformatted, and included the text of the introductory info in the file RELEASE.md, which I think should be included in the release (and maybe in the master branch of the repo) rather than in each of the schema files.

[2015-08-16 03:40] rockivist commented on #496
@tcatapano Looks good. But to be clear, I'm seeing validation of single dates and ranges with YYYY, YYYY-MM and YYYY-MM-DD. I'm not seeing YYYYMM or YYYYMMDD validate. That's what was permitted in the EAD2002 schema, so let's stick with it.

[2015-08-16 03:45] rockivist commented on #487
Looks good.

[2015-08-16 04:02] rockivist commented on #483
@tcatapano The RELEASE.md looks good. I fixed a few character encoding issues with accented vowels. Should we add the CC0 license as well?

[2015-08-16 16:40] tcatapano commented on #496
Noticed the same thing. Yes, let's leave it. Closing.

[2015-08-16 16:40] #496 closed

[2015-08-16 16:40] tcatapano commented on #487
Closing.

[2015-08-16 16:40] #487 closed

[2015-08-16 16:41] tcatapano commented on #473
Added CC 1.0 Universal license file. Closing.

[2015-08-16 16:41] #473 closed

[2015-08-16 16:42] tcatapano commented on #483
Added license as it's own file. Closing.

[2015-08-16 16:42] #483 closed

[2015-08-16 16:51] tcatapano commented on #491
We didnt do this in the other cases where there was only one recommended encoding (e.g., scriptencoding and countryencoding). At this point, let's treat dateencoding the same.

[2015-08-16 23:03] tcatapano commented on #493
Tested in oxygen with saxon-ee, libxml, and msxml. Closing.

[2015-08-16 23:03] #493 closed

[2015-08-17 00:56] rockivist commented on #491
@tingletech Agreed. Closing.

[2015-08-17 00:56] #491 closed

[2015-08-17 16:17] tcatapano opened #498 "schematron wont validate elements in ead namespace with dtd valid instances"
It will fire rules for nodes selected with wildcards, but not those in the ead namespace.

[2015-08-17 16:18] tcatapano opened #499 "xmllint complains about objectxmlwrap in xsd"
ead3.xsd:1397: element complexType: Schemas parser error : complex type 'objectxmlwrap': The content model is not determinist.
ead3.xsd:1402: element complexType: Schemas parser error : complex type 'e.anyname': The content model is not determinist.

[2015-08-17 16:21] tcatapano commented on #499
same with libxml in oxygen (same library?).  Not a problem sith Saxon-EE and Xerces/Jing.

[2015-08-21 15:31] tcatapano commented on #492
Included in v1.0.0 release. Generated from built in oXygen meta-stylesheet (emits messages)

[2015-08-21 15:31] #492 closed

[2015-09-24 17:41] alexduryee opened #500 "<part> example error in tag library"
On page 277 of the tag library, the provided example for `<part>` is:

`<persname encodinganalog="600" relator="creator" rules="RDA" source="http://viaf.org/viaf/23746712">`
`<part localtype="surname">Casey</part>`
`<part localtype="givenname">Silas</part>`
`<part localtype="dates">1807-1882</part>`
`</persname>`

The `persname@source` attribute is misused here - the URI should instead be in `pers

[2015-09-24 18:03] rockivist commented on #500
@alexduryee You are right. Great catch. We are still in the process of encoding the Tag Library in TEI, so this issue will make sure we catch it there and we'll feed it back into the print edition next time they produce more.

[2015-12-15 13:18] ottosmops commented on #499
I have the same problem. I can validate with Oxygen, but when I validate via libxml I get the same error.

[2016-03-22 17:52] rockivist opened #501 "Clarification re: validation needed"
Following up on a discussion on Twitter where someone asked me and @ruthtillman about this, there is a need for documentation for how to validate EAD3 files. In particular, we need to clarify the role of the namespace (http://ead3.archivists.org/schema/) vs. the file path for the schema.

Lots of people are accustomed to validating EAD 2002 against the copy of the schema or DTD hosted at loc.gov.

[2016-03-24 13:26] karinbredenberg commented on #500
Fixed in the TEI.

[2016-03-24 13:26] #500 closed

[2016-04-05 19:53] sterkenburgsara opened #502 "XSD does not allow <languagedeclaration>"
XSD Schema missing an allowance for the <languagedeclaration> element.

[2016-04-05 20:04] ruthtillman commented on #502
Hi Sara, the file I'm looking at https://github.com/SAA-SDT/EAD3/blob/master/ead3.xsd has `<languagedeclaration>` in the `<control>` section of the layout. The `<control>` section is ordered, however, so it can only be used directly following the required element `<maintenanceagency>`. Does that solve the validation issue? if not, would you be willing to share a snippet or gist of code from your s

[2016-04-06 03:21] rockivist commented on #502
@sterkenburgsara Thanks for logging the issue. I believe that @ruthtillman is correct in her suspicion that the problem may relate to the sequence of elements within control that is imposed by the schema. I've double checked the XSD and auto-generated a document. languagedeclaration is absolutely included in the schema - it's available zero or more times as an immediate following sibling of mainte

[2016-04-06 14:45] sterkenburgsara commented on #502
Ah, you're correct. Sorry to open an unnecessary issue. I for some reason missed that this area had a mandatory ordered sequence. Thanks so much to both of you!

[2016-04-06 14:45] #502 closed

[2016-04-06 15:37] rockivist commented on #502
@sterkenburgsara Glad it worked out.

[2016-06-07 07:25] shsdev commented on #499
Same issue using python lxml.

[2016-06-07 20:09] tcatapano commented on #499
Going to create a branch to investigate an alternative which will satisfy libxml.

[2016-06-07 21:23] shsdev commented on #499
Just to let you know that if I comment out the  "<xs:any namespace="##local" processContents="lax"/>" line the error is not thrown:

`<xs:complexType name="e.anyname">
        <xs:choice>
          <xs:any namespace="##other" processContents="lax"/>

        </xs:choice>
</xs:complexType>`

[2016-06-23 04:05] rockivist opened #503 "descgrp bug in ead3_undeprecated.dtd"
The undeprecated version of the EAD3 DTD has a bug in the element definition for the descgrp element. It should allow both the block elements (chronlist|list|table|blockquote|p) and the full set of did siblings (accessrestrict|accruals|acqinfo|altformavail|appraisal|arrangement|bibliography|bioghist|controlaccess|custodhist|descgrp|fileplan|index|legalstatus|odd|originalsloc|otherfindaid|phystech|

[2016-09-16 19:23] cannedit opened #504 "please allow @normal for <part/>"
My use case for this: I intend to use the following tagging:

[code]

but unfortunately I can’t normalise the date like this:

[code]

[2016-09-22 02:24] rockivist commented on #504
I’ve been thinking a bit more about your suggestion. I remain reluctant to adopt the specific solution you suggest for a few reasons.

1)	I agree with Regina’s argument that any attribute on an element should be applicable to most use cases for that element, not a specific subset. `<part>` is explicitly for identifying a substring in a controlled term – it’s not specific to dates.
2)	We moved away

[2016-09-22 21:22] cannedit commented on #504
Ok, I see your point (and Regina’s and Ruth’s ☺). So let’s not discuss this any further and go for this. Then the current example of the EAD3 tag library for <part/> would be like this, right?

<persname encodinganalog="600" relator="creator" rules="RDA" identifier="http://viaf.org/viaf/23746712">
<part localtype="surname">Casey</part>
<part localtype="givenname">Silas</part>
<part localtype="date

[2016-09-26 18:16] rockivist commented on #504
Wim,

I was thinking of making `<date>` an optional sibling of `<part>`, not a child. so something more like this:

`<persname encodinganalog="600" relator="creator" rules="RDA" identifier="http://viaf.org/viaf/23746712">
<part localtype="surname">Casey</part>
<part localtype="givenname">Silas</part>
<date @normal="1807/1882">1807-1882</date>
</persname>`

Would that work? I'm reluctant to change

[2016-09-27 08:01] cannedit commented on #504
So actually making <date/> a child of <persname/> instead of a child of <part/>?

Ehmm, sorry, no, that doesn't work, because I would like to have more <part/>'s including dates within a <persname/> (and <corpname/> and <famname/>), like for instance having as @localtype "birthdate", "marriagedate" and "deathdate" (and others).

[2016-09-27 12:46] rockivist commented on #504
@cannedit Ah yes, I hadn't thought of that. Then I agree the best solution will be adding `<date>` as an optional mixed content child of `<part>`.

[2016-11-04 21:10] tcatapano commented on #499
This should be fixed now in branch issue_#499. Need to test some more.

[2016-11-07 13:39] rockivist commented on #499
@tcatapano This is awesome. Thanks so much. I'll give it a look in Oxygen, but I'll leave the libxml testing to you and others.

[2016-12-09 01:25] rockivist opened #505 "Add <date> as mixed content child of <part>"
I'm logging a new feature request to replace #504 - the original feature request changed significantly in discussion and I thought it better to close that issue and open a fresh one that clearly states the current proposal.

@cannedit advocated for some mechanism to provide normalized dates within controlled access terms. His original proposal was to add `@normal` to `<part>`, but after discussion

[2016-12-09 01:26] rockivist commented on #504
Closing - replaced with #505

[2016-12-09 01:26] #504 closed

[2016-12-09 01:33] rockivist opened #506 "Add <rightsdeclaration> to <control>"
I propose adding a new element to EAD3 for recording the rights associated with the description itself. A common use case would be to declare that the description is shared under a CC0 license.

I suggest naming the element `<rightsdeclaration>`, following the name pattern of conventiondeclaration, languagedeclaration, and localtypedeclaration. I would pattern the content model after `<conventiond

[2016-12-09 01:35] rockivist opened #507 "Add @localtype to <conventiondeclaration>"
I propose adding `@localtype` to `<conventiondeclaration>` as an optional attribute. This seems like an oversight on our part - there are many possible ways in which you might want to subclass a convention declaration. For example, you might want to distinguish between content standard declarations from controlled vocabulary/thesauri declarations.

[2016-12-09 09:09] ruthtillman commented on #507
Generally a fan of @localtype being available.

[2016-12-09 09:17] ruthtillman commented on #506
Like it overall. One question: what does it look like for those who want to put an "All rights reserved" in the rights declaration?

Although RightsStatements seem to be more appropriate for _materials_ as CC is more appropriate for finding aids, I suppose it could be http://rightsstatements.org/vocab/InC/1.0/ with text "All rights reserved" ... Or are we going to say "if you want it in copyright

[2016-12-09 13:51] rockivist commented on #506
@ruthtillman you've identified the major weakness as I see it. I think it's OK for `<rightsdeclaration>` to prioritize linking out to separate rights statements. If someone wants to simply put a copyright statement not linked to a formal rights statement, they can still put a paragraph in `<publicationstmt>`. I think we're trying to focus on something actionable with the new element, and there isn

[2016-12-09 13:58] ruthtillman commented on #506
@rockivist I like the idea of adding that to guidance about using the new element. aka "`<publicationstmt>` still exists if all you want to do is note that you retain copyright, whereas this is for actionable link-based statements, whether yours or mainstream. Please use mainstream." -- but nicer.

[2016-12-12 21:50] rockivist commented on #499
In ead3.xsd, getting the following error

I'm sure you've seen this. It's caused by the `<attribute a:id="a.anyName">` on line 2715. I can't say whether this is a real problem or not.

In practice my monster testing instance validates fine if I drop an entire ead instance into the revised objectxmlwrap. Tried it in both `<source>` and `<relation>`. If I put a non-root EAD element in - say just a c

[2017-01-10 09:01] SJagodzinski commented on #506
I'm in favour of the solution forwarded by Wim (//rightsdeclaration/rightsinfo) because we do know about the semantic of the elements content and we don't need to use a general descriptive or referring element for that. In my opinion it would be more distinct and neat for this purpose. I'd also allow content in //rightsinfo, so there is no need for //p, but I'm not familiar with the EAD politics h

[2017-01-10 15:40] tcatapano commented on #499
Need to test using ruby/nokigiri and python/lxml

[2017-02-04 20:07] rockivist commented on #507
Implemented this in the issue_#507 branch. Wait to merge until final approval.

[2017-02-04 20:11] rockivist commented on #485
Implemented in branch issue_#485. Wait for final approval to merge.

[2017-02-04 20:22] rockivist commented on #505
Implemented in branch issue_505. Wait for final approval to merge.

[2017-02-04 20:50] rockivist commented on #506
Implemented in branch issue_506. Wait to merge for final approval.

[2017-02-09 17:00] tcatapano commented on #506
Looks like we need to compile this and #485, #506, and #507 into the various derived RNG, DTD, and XSD files for testing before merging. Is that right? If so, I'll create an issue and assign to myself.

[2017-02-09 17:05] tcatapano opened #508 "Document schema subsetting/customization"
From Schema Team meeting notes of 2017-01-10:

[2017-02-09 17:09] rockivist commented on #506
@tcatapano yes, that would be very helpful.

[2017-02-09 17:18] tcatapano opened #509 "compile derivative schema files for issue branches"
For #485, #505, #506, #507

[2017-02-09 17:19] tcatapano commented on #506
OK. I'll make an issue. See #509

[2017-02-12 04:08] rockivist commented on #505
@cannedit @SJagodzinski  @noahgh221 @BillStockting2 As I just mentioned in an email to the EAD Subteam, I am eager to reach consensus on this issue so that we can make a recommendation to TS-EAS and move ahead with community review.

During our January conference call we briefly discussed this issue. We all agreed that it was appropriate to accommodate the date element within the data structure of

[2017-02-12 04:32] rockivist commented on #506
@cannedit @SJagodzinski @noahgh221 @BillStockting2 Following up on this issue, here are my arguments in favor of implementing rightsdeclaration as I described it above rather than as a rightsdeclaration with one or more rightsinfo elements.

-The pattern set in EAC-CPF and perpetuated in EAD3 within control is not to bundle the "declaration" elements (languagedeclaration, conventiondeclaration, lo

[2017-02-13 10:27] BillStockting2 commented on #505
Mike,

That makes sense to me!

Bill

[Royal Crest]

Bill Stockting | Archives Manager | Royal Archives
Windsor Castle | Berkshire | SL4 1NJ
DDI: (78) 2260 | Ext: (78) 2260
www.royal.uk<http://www.royal.uk>   [cid:image002.png@01D285E3.AF4AA1E0] <http://www.facebook.com/thebritishmonarchy>  [cid:image003.png@01D285E3.AF4AA1E0] <http://twitter.com/royalfamily>  [cid:image004.png@01D285E3.AF4AA1E0]

[2017-02-13 10:29] BillStockting2 commented on #506
Mike,

Again I agree with your suggestions, consistency is as you say important for users and developers alike.

Bill

[Royal Crest]

Bill Stockting | Archives Manager | Royal Archives
Windsor Castle | Berkshire | SL4 1NJ
DDI: (78) 2260 | Ext: (78) 2260
www.royal.uk<http://www.royal.uk>   [cid:image002.png@01D285E4.03EAC180] <http://www.facebook.com/thebritishmonarchy>  [cid:image003.png@01D285E4.

[2017-02-13 19:34] noahgh221 commented on #505
Mike,

I support adding <date> as an optional mixed content child of <part>. Thanks for explaining your logic.

[2017-02-13 20:55] noahgh221 commented on #506
@rockivist I support your suggestion to add <rightsdeclaration> and have it follow the same convention as languagedeclaration, conventiondeclaration, and localtypedeclaration.

I think it would be desirable to accommodate local, not machine-actionable, rights statements in <rightsdeclaration> instead of recommending use of a separate <publicationstmt> element, but I can't quite think of an appropr

[2017-02-13 21:00] rockivist commented on #506
@noahgh221 In cases where the metadata isn't available under a shared, published license that can be referenced in an actionable way, there is always publicationstmt/p. Not perfect, but it's a fallback for unstructured rights info.

[2017-02-19 10:41] SJagodzinski commented on #505
Mike,

I see your point and understand your explanation. I do follow your points for e.g. //genreform or //corpname, but still hesitate with names tagged in multiple parts. See the TL example for //persname. Where to put the date in here?

`<controlaccess>
<persname encodinganalog="600" relator="creator" rules="RDA" identifier="http://viaf.org/viaf/23746712" source="viaf">
<part localtype="surname

[2017-02-19 10:51] SJagodzinski commented on #506
Mike,

ok you're right, I'm convinced. Following the other declarations here seems feasible. I agree with your suggestion.

[2017-02-20 18:43] cannedit commented on #505
Mike,

I agree with you to add <date> as an optional mixed content child of <part> like we already concluded in the discussion on issues 504.

@Silke: I think this will enable your example to be adapted like this:
[code]
And of course this will enables to be more specific too, like @localtype="birthdate", @localtype="marriagedate", etc.

[2017-02-20 18:59] cannedit commented on #506
Mike,

I agree with your proposal.

[2017-02-20 19:04] ruthtillman commented on #505
@cannedit I like your example!

[2017-02-21 07:28] SJagodzinski commented on #505
@cannedit: I like your example, too and you're right. This solution clears my concerns.
@rockivist: I also agree.
@all: Sorry, I was slow to catch on

[2017-02-22 04:01] rockivist commented on #505
Thanks everyone for weighing in!  I'll share this with TS-EAS for their input and advice on how best to vet this with the user community.

[2017-02-22 04:03] rockivist commented on #506
Thanks all! Will forward to TS-EAS.

[2017-03-16 14:43] karinbredenberg commented on #505
I agree with the addition but be careful with what is used as examples in localtype, marriagedate are in my opinion more suitable to use in EAC-CPF than in EAD.

[2017-05-12 00:54] rockivist opened #510 "Test EAD3 1.1 release candidate in different XML libraries"
@tcatapano Please test https://github.com/SAA-SDT/EAD3/releases/tag/v1.1.0-beta in the XML libraries where objectxml wasn't working.

[2017-05-12 02:58] rockivist commented on #503
@fordmadox I've been testing the 1.1 release candidate and this bug persists in the
 new ead3_undeprecated.dtd. Still not sure why the transformation from the RNG to the DTD isn't working for this specific element (and it is working in the undeprecated RNG and XSD), but I've fiddled with the undeprecated DTD and I think I know what needs to change there.

In the RC undeprecated DTD, the relevant c

[2017-05-12 02:59] rockivist commented on #507
@fordmadox Looks good in all six 1.1 release candidate schemas.

[2017-05-12 03:01] rockivist commented on #506
@fordmadox Testing successful in all six 1.1 release candidate schemas.

[2017-05-12 03:01] rockivist commented on #505
@fordmadox Looks good in the 1.1 release candidates.

[2017-05-12 03:02] rockivist commented on #485
@fordmadox Looks good in all six 1.1 release candidate schemas.

[2017-05-12 03:08] rockivist commented on #510
@fordmadox What branches did you merge into the branch from which you generated the RC? I ran a diff on the XSD and RNG for EAD3 1.0 and the EAD3 1.1 RC, and I saw no difference between the definitions for objectxmlwrap.

@tcatapano In which branch did you do that dev work? Can you point Mark at it?

[2017-05-16 20:32] fordmadox commented on #510
@rockivist for that particular issue, i merged the https://github.com/SAA-SDT/EAD3/commits/issue_%23499 branch.  in total, i merged 5 branches:  485, 499, 505, 506, 507.

[2017-05-16 20:50] fordmadox commented on #503
@rockivist I just made that change and updated the branch.  However, what was included the first time around is the exact same definition for descgrp in the current EAD3 1.0 version of the undeprecated schema.  Is that wrong, as well?  See https://github.com/SAA-SDT/EAD3/blob/master/undeprecated/ead3_undeprecated.dtd#L2319-L2327, on the master branch.

[2017-05-16 20:55] fordmadox commented on #503
I'll hold off on creating a new release until after we've figured this issue out, along with the objectxmlwrap issue.

[2017-05-16 21:02] fordmadox commented on #503
@rockivist regarding this issue, i'm probably daft (or just not understanding the history of this issue), but when would this have been merged with master?  i don't see it anywhere in the history of commits: https://github.com/SAA-SDT/EAD3/commits/master   sorry if this just one of those end-of-the-day questions on my part :)

[2017-05-19 16:12] tcatapano commented on #510
@rockivist @fordmadox Im looking into it...

[2017-05-19 16:21] rockivist commented on #503
@fordmadox I just made a fix in ead3_undeprecated-driver.rng in the branch issue_503. Will issue a PR.

[2017-05-19 16:22] tcatapano commented on #510
looks as if the problem is with the 499 branch. this commit says I created ead3_step1.xsd, but it doesnt look like the final one got generated: https://github.com/SAA-SDT/EAD3/commit/7f8ef0f579b7869497062e6b2069b2a252f2f620

I'll fix ASAP.

[2017-05-24 21:38] tcatapano commented on #499
Ive regenerated ead3.xsd and now it seems to  work with xmllint. Have to regenerate undeprecated version

[2017-05-24 22:17] tcatapano commented on #499
generated ead3_undreprecated xsd, but it is failing to validate under libxml. No idea why. Will have to investigate further. PITA

[2017-09-01 19:26] noahgh221 opened #512 "Change data type for @containerid from NMTOKEN to string so it can accept special characters"
Barcode values may contain special characters (e.g. $, %, #).  Currently @containerid only accepts NMTOKEN values, which can't include such special characters.  I propose relaxing the data type for @containerid from NMTOKEN to string to accept special characters.

[2017-09-02 02:15] rockivist commented on #512
@noahgh221 Check out ead3.rng in the issue_512 branch. Do your barcodes validate in containerid now?

[2017-09-05 14:46] noahgh221 commented on #512
Yes! Barcodes with special characters in containerid now validate against this modified schema. Thanks.

[2017-09-05 14:49] rockivist commented on #512
Good. I consider this a bug, not a feature request, so I don't think it's something that needs to be vetted with TS-EAS at large. That said I have probably already been removed from that mailing list, so could you send out a heads up to the committee that we have another bug that has been fixed and can be included in the 1.1 release?

I'll issue a pull request.

[2017-09-05 15:25] noahgh221 commented on #512
Will do. Thanks.

[2017-09-06 16:46] fordmadox commented on #499
@tcatapano  any updates on the ead3_undeprecated validation issue?  I'm hoping to dig back into this next week so that we can get another candidate release out soon for 1.1.

[2017-09-06 19:01] tcatapano commented on #499
@fordmadox I'll look into today and report back

[2017-09-07 00:16] tcatapano commented on #499
@fordmadox: Ive looked into it and I'm still baffled as to why the undeprecated xsd is not being generated from ead3_undeprecated.rng with the correct e.anyname model. I can explain further and continue to explore, but I'm not sure at this point a technical solution is more important than a strategic and economic one.

If, as I recommend and hope, the undeprecated schemas will not be supported bey

[2017-09-07 01:12] rockivist commented on #499
@tcatapano This seems like the practical way forward.

[2017-10-19 20:14] tcatapano commented on #499
Implemented manual fix to ead3_undprecated.xsd.  Tested against sample S.0001.valid.xml using both xerces and LIBXML. Would be ideal to have a sample instance with deprecated elements which uses objectxmlwrap...

[2017-11-17 14:10] fordmadox commented on #503
Just a note that this popped up again after running the transformations.  I'm going to manually edit the undeprecated DTD after the transformation this time, and send out a new release later today.

[2017-11-19 21:19] fordmadox commented on #503
Manually fixed, and ready to test again: https://github.com/SAA-SDT/EAD3/releases/tag/v1.1.2-beta

[2017-11-19 21:27] fordmadox commented on #509
Everything is up to date now in the 3.1-develop branch, which I hope we can merge with master soon and delete.

[2017-11-19 21:27] #509 closed

[2017-11-19 21:29] fordmadox commented on #512
Fixed by Mike, and this is now available in all 6 versions of the schema (which are still in testing, but should hopefully be in the master branch soon)

[2017-11-19 21:29] #512 closed

[2017-11-19 21:30] fordmadox commented on #510
@tcatapano : please test the objectxmlwrap issues again with this release, https://github.com/SAA-SDT/EAD3/releases/tag/v1.1.0-beta

[2017-11-19 21:32] fordmadox commented on #508
@tcatapano just noting that we discussed creating a new repository for this.  whenever you have time to put something up there, just let us know.  i think @regineheberlein might also want to work on this, too.  it would be a great way to show folks how they could exclude numbered components, etc.

[2017-11-19 21:35] fordmadox commented on #498
@tcatapano is this still an issue? if so, what else do we need to do before we can close it out?

[2017-12-21 03:03] rockivist commented on #503
@fordmadox Looks good in the 1.1.2 release. I say it's good to go.

[2017-12-21 03:11] rockivist commented on #485
@fordmadox Looks good in all six 1.1.2 release candidate schemas.

[2017-12-21 03:14] rockivist commented on #505
@fordmadox Looks good in all six 1.1.2 release candidate schemas.

[2017-12-21 03:21] rockivist commented on #506
@fordmadox Testing successful in all six 1.1.2 release candidate schemas.

[2017-12-21 03:32] rockivist commented on #507
@fordmadox Looks good in all six 1.1.2 release candidate schemas.

[2017-12-21 03:38] rockivist commented on #512
@fordmadox Looks good in all six 1.1.2 release candidate schemas.

[2018-01-05 09:46] smartKaisar opened #515 "Element and attribute has same name!"
[code]

attribute group **_am.common_** contains attribute with name **_script_** which is being used in multiple elements and some element like **_languagedeclaration_** contains another element with name **_script_**.

[code]

When we are using code generation tools which is intended to generate code form xsd (for example jaxb) it can't have two variable with same name. Hence replacing the eleme

[2018-02-16 15:47] regineheberlein commented on #515
Alas, nothing other than manual intervention comes to mind. Perhaps @tcatapano knows of a workaround?

[2018-02-16 18:38] regineheberlein opened #517 "make objectxmlwrap available in c/cxx"
I propose making objectxmlwrap, which is currently only available in relation and source, available in c/cxx to facilitate using descriptive fields from other namespaces.

## Creator of issue

1. Regine Heberlein
2. Princeton University
3. heberlei@princeton.edu
4.

## The issue relates to

- [x] EAD schema issue

## Wanted change/feature

Allow objectxmlwrap on c/cxx as an alternative to did and

[2018-02-19 13:17] regineheberlein commented on #517
My particular use case is for terminal c's, yes. I'm not proposing limiting objectxmlwrap to terminal c's, though. In fact, I could see uses for it in ancestral c's as well.

As to allowing objectxmlwrap in conjunction with current children of did--my proposal is to enforce a choice, but if there's a need for allowing them in conjunction, I think it would be perfectly appropriate to leave more res

[2018-03-26 17:16] fordmadox commented on #515
@smartKaisar :  can you report this issue to the JAXB community if you haven't already?

If I understand correctly, then it should be something that could be handled by that tool.  There's no XML restriction that prohibits elements and attributes from sharing the same name, so I wouldn't say that this an EAD3-only issue for JAXB.  And I'd assume it would be something that JAXB would want to be abl

[2018-04-27 17:55] rockivist commented on #517
I'm going to chime in with my support for using "identity" relations in this use case. Identity relations are entirely in scope for `<relations>` - they are used extensively, for example, in SNAC to indicate that two CPF descriptions refer to the same entity, either because those records have yet to be merged, or represent different personas, or for some other reason. We regularly described archiv

[2018-04-27 18:31] rockivist commented on #517
I get it. My bottom line is that not requiring `<did>` is an unacceptable loss of interoperability.

[2018-04-28 19:05] wisserk commented on #517
What about making this functionality as a subelement of <did> directly? I'm not sure that that doesn't address the interoperability issue that Mike brings up but it does provide a way to reuse existing descriptive data.

To my mind, each component needs to be _identified_ and that is the function the did performs. Within the <did>, though there are a variety of ways to identify the component. Only

[2018-10-25 15:09] noahgh221 commented on #485
@fordmadox  Looks like this was implemented. Closing Issue.

Inspired by meeting this morning to cleanup these issues:)

[2018-10-25 15:09] #485 closed

[2018-10-25 15:15] noahgh221 commented on #506
Feature included in EAD3 v1.1.0 release. Closing issue.

[2018-10-25 15:15] #506 closed

[2018-10-25 15:17] noahgh221 commented on #505
Included in EAD3 v1.1.0 release. Closing issue.

[2018-10-25 15:17] #505 closed

[2018-10-25 15:18] noahgh221 commented on #507
Included in EAD3 v1.1.0 release. Closing issue.

[2018-10-25 15:18] #507 closed

[2018-11-08 14:40] mentionthewar opened #520 "<script> tag may be a security vulnerability"
## Creator of issue

1. Jo Pugh
2. The National Archives
3. jpugh@nationalarchives.gov.uk
4.

## The issue relates to

- [ ] EAC-CPF schema issue
- [ ] EAC-CPF Tag Library issue
- [ ] EAD schema issue
- [x ] EAD Tag Library issue
- [ ] Schema issue
- [ ] Tag Library issue
- [ ] Suggestions for all schemas
- [ ] Suggestions for all Tag Libraries
- [ ] Other

## Wanted change/feature

* Text:

## Re

[2018-11-21 15:17] rockivist opened #521 "Revise Tag Library description of rightsdeclaration"
## Creator of issue

1. Mike Rush
2.
3.
4.

## The issue relates to

- [ ] EAC-CPF schema issue
- [ ] EAC-CPF Tag Library issue
- [ ] EAD schema issue
- [x] EAD Tag Library issue
- [ ] Schema issue
- [ ] Tag Library issue
- [ ] Suggestions for all schemas
- [ ] Suggestions for all Tag Libraries
- [ ] Other

## Wanted change/feature

* Text:
I'd like to see the Description and Usage section of the

[2019-02-18 19:05] noahgh221 commented on #510
Closing this issue. Assuming this testing took place a long time ago before release of v1.1

[2019-02-18 19:05] #510 closed

[2019-02-18 19:10] noahgh221 commented on #494
Closing issue. Assuming this was resolved before v1.1 release. If not, re-open.

[2019-02-18 19:10] #494 closed

[2019-02-18 19:17] noahgh221 commented on #481
Decision made to omit test for MARC relator codes in Schematron. Closing issue.

[2019-02-18 19:17] #481 closed

[2019-04-16 20:45] noahgh221 commented on #515
Long overdue follow up to this issue...

TS-EAD discussed this issue in our 2018-03-26 meeting. There was a general sense that this is a relatively isolated issue specific to JAXB. Modifying the EAD schema to solve this particular problem would have consequences for the larger EAD community that outweigh the benefit of solving this particular reported JAXB issue.

Still, TS-EAD should keep this is

[2019-04-16 20:45] #515 closed

[2019-04-16 20:57] noahgh221 commented on #521
@alexduryee , this seems like a reasonable and uncontroversial suggested edit to the EAD3 tag library.  Would you be able to make the change that Mike suggests to the TEI?

Here is the current entry for rightsdeclaration:
https://www.loc.gov/ead/EAD3taglib/EAD3.html#elem-rightsdeclaration

[2019-04-17 08:14] kerstarno commented on #521
Just as a thought, picking up on the question of how to use `<descriptivenote>`. I'd think, it might be a useful to e.g. add a short text (in this case taken from the "human-readable summary of the Legal Code" as promoted on the Creative Commons website to actually tell users what the licence means for them.

In this case, the example given above could be extended to:
`<control>
   <rightsdeclarat

[2019-04-17 12:10] rockivist commented on #521
I like Kerstin's suggestion. A definite improvement to the proposed example.

[2019-04-18 19:59] noahgh221 commented on #484
@fordmadox  , @rockivist , Do either of you know if this issue was intentionally dropped? Was there a decision not to restrict quantity values to numbers?  Just trying to close out some old, old issues.

[2019-04-18 20:06] rockivist commented on #484
I think this just got lost in the shuffle as we were tying up loose ends with the Schematron. Is there a chance Terry did this and it's in a dev branch somewhere? If not, I think it's safe to note that it would still be a good idea but then close the issue. If it comes up again later it could be revisited then.

[2019-04-18 20:21] tcatapano commented on #484
I don't recall this. I'll check to refresh my memory and get back. Why not keep it open for now?

We *may* have rejected this as being too strict a rule. There's certainly many cases in which quantity values are not integers or decimals.

[2019-05-06 19:56] alexduryee commented on #521
I filed a pull request for this change - https://github.com/karinbredenberg/EAS-TagLibraries/pull/6 - which uses Mike and Kerstin's language for `rightsdeclaration`.

[2019-06-10 16:47] kerstarno opened #522 "Allow <foreign> in <ref>"
## Creator of issue

1. Kerstin Arnold
2. Archives Portal Europe Foundation
3. Email: kerstin.arnold.berlin@gmail.com
4. GitHub: @kerstarno

## The issue relates to

- [ ] EAC-CPF schema issue
- [ ] EAC-CPF Tag Library issue
- [x] EAD schema issue
- [x] EAD Tag Library issue
- [ ] Schema issue
- [ ] Tag Library issue
- [ ] Suggestions for all schemas
- [ ] Suggestions for all Tag Libraries
- [ ] O

[2019-06-10 17:46] noahgh221 commented on #522
Hi @kerstarno , I'm not aware of any reason why `<foreign>` was specifically excluded from the list of valid child elements of `<ref>`. I can add this request as a discussion item for the next EAD Team meeting.

Out of curiosity, did you have a specific use case for this, or did you just notice this possible oversight while reviewing the schema?

[2019-06-11 00:37] rockivist commented on #522
I can't recall with certainty, but I think this was an oversight. When we revised the linking elements, I know we were careful to exclude ref from the children of ref, which is why ref doesn't include m.mixed.basic (which would make ref recurse). We set up the element definition of ref with its own group of element references.

My guess is that we did that before foreign was introduced to the sche

[2019-06-11 07:15] kerstarno commented on #522
Hi @noahgh221 - thanks for taking this up. And, to answer your question: no specific use case in mind, only came across this while going through EAD3 in the context of the Shared Schema work.

@rockivist - thanks for the "trip back in time" and the confirmation :-)

[2019-06-17 00:31] fordmadox commented on #522
I'm beginning to look forward to the prospects of a shared schema :)

In the meantime, I've added a patch for this in the "issue_522" branch.  If the EAD3 group decides to include this update in a future minor release, then I will regenerate the six different EAD3 schema variants for testing and release purposes.

@noahgh221 we should discuss whether we'll continue to need all of those variants, b

[2019-06-17 14:46] noahgh221 commented on #522
Thanks @fordmadox , I don't see any reason why we would not want to include this patch, but let's discuss logistics in Austin. I'm also seeking some clarity/decision on how we should manage and schedule these minor revisions, which we should also discuss in Austin.

[2019-08-20 07:11] karinbredenberg opened #523 "<c12> not validating in schema"
## Creator of issue

1. Kelly Revak, Library of Congress
2. e-mails: kere@loc.gov; cconr@loc.gov

## The issue relates to

- [ ] EAC-CPF schema issue
- [ ] EAC-CPF Tag Library issue
- [x] EAD schema issue
- [ ] EAD Tag Library issue
- [ ] Schema issue
- [ ] Tag Library issue
- [ ] Suggestions for all schemas
- [ ] Suggestions for all Tag Libraries
- [ ] Other

## Reporting a bug

* Text: Use of th

[2019-09-20 10:17] kerstarno commented on #467
Issue review in preparation to upcoming EAD subteam call on 23 September:

While the TL includes a general mention of the Schematron schema ("A Schematron schema is also available to provide further validation functionality for EAD instances, imposing data constraints that either cannot be expressed in DTD, Relax NG, and W3C, or were intentionally removed from the schemas by TS-EAD due to challeng

[2019-09-20 10:22] kerstarno commented on #484
Issue review in preparation to upcoming EAD subteam call on 23 September:

@tcatapano - any chance you found anything pointing to this intially having been dropped with good reason?

@karinbredenberg and @fordmadox - provided we kept this open, might it rather be an issue for the Schema subteam?

[2019-09-20 10:24] kerstarno commented on #498
Issue review in preparation to upcoming EAD subteam call on 23 September:

@tcatapano and @fordmadox - what's the current status for this issue?

[2019-09-20 10:30] kerstarno commented on #501
Issue review in preparation to upcoming EAD subteam call on 23 September:

We might want to consider wrapping this into one issue together with EAD3 #467, i.e. aiming at a more general documentation on the topic of validation.

@karinbredenberg and @fordmadox - might this rather be an issue for the Schema subteam?

[2019-09-20 10:37] kerstarno commented on #503
Issue review in preparation to upcoming EAD subteam call on 23 September:

@fordmadox - can this issue be closed?

[2019-09-20 10:44] kerstarno commented on #508
Issue review in preparation to upcoming EAD subteam call on 23 September:

@tcatapano and @fordmadox - what's the current status for this issue?
Also, is this something that could be combined with EAD3 #467 and #501 in a more general documentation on the topic of validation with and customisation of schema(s)?

@karinbredenberg and @fordmadox - if the above is the case, might this rather be an iss

[2019-09-20 12:19] kerstarno commented on #517
Issue review in preparation to upcoming EAD subteam call on 23 September:

@regineheberlein - would the most recent suggestion, having `<objectxmlwrap>` as a subelement of `<did>`, work for the use case you have in mind? I.e. something like:

[code]

And, @regineheberlein - would you maybe have an example of descriptive information being encoded in another standard that includes elements, where th

[2019-09-20 12:47] regineheberlein commented on #517
Yes, that could work.

I don’t have a data example but something along the lines of a use case. We, as many other institutions, have large author libraries that we treat as archives for a number of reasons. The tend to represent resources on the item or title level. EAD doesn’t fully accommodate bibliographic information, so in our case, we’ve fallen back on a rather ugly hack involving odd. Allow

[2019-09-20 14:11] rockivist commented on #517
I still object to this change. My bottom line is that it is fine for EAD to include xml in other schemas, hence my support for including objectxmlwrap in EAD3, but at minimum an EAD instance should meet minimal descriptive standards independent from data encoded in objectxmlwrap. If an EAD instance had only objectxmlwrap as a child of the did (at any level), it would effectively cease to be sharea

[2019-09-20 14:30] MicheleCombs commented on #517
Sound logic.  I agree.

Michele

From: Michael Rush <notifications@github.com>
Sent: Friday, September 20, 2019 10:11 AM
To: SAA-SDT/EAD3 <EAD3@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [SAA-SDT/EAD3] make objectxmlwrap available in c/cxx (#517)

I still object to this change. My bottom line is that it is fine for EAD to include xml in other schemas, hence my

[2019-09-20 14:37] kerstarno commented on #517
Thanks, @regineheberlein and @rockivist for your replies, and thanks, @MicheleCombs, for the further input.

Working for an aggregator, I certainly see Mike's point. On the other hand, working for an aggregator, I also know that the current model does not guarantee that there's an intelligible description to parse. Just saying ;-)

EAD Team will have another look at this issue on Monday and provid

[2019-09-24 15:26] karinbredenberg commented on #508
@kerstarno in the final end it might even end in the handbook? But it sure is part of documentation for the use of the schemas and should be used for all of them. When/if we have a repository it should be moved to that repository and assigned to the Schema team.

Not sure where the things @tcatapano have written is placed. There is no separate repository for it yet, @fordmadox ?

[2019-09-24 15:29] karinbredenberg commented on #467
Perhaps this one can be closed and the Schematron description that is created but not published needs to be keept in the same place as #508

[2019-09-24 15:33] karinbredenberg commented on #484
@kerstarno if the data type is integer or decimal it should not be possible to write something else. So whats needed is to find if there are other elements/attributes that are seen as quantity vales with not data type integer or decimal and when that list is made it can be decided if it needs to be a rule for them. (Or they should perhaps have the data type being correct which means its part of a

[2019-09-26 13:18] kerstarno commented on #520
TS-EAS EAD Team talked about this issue during their meeting on 23 September 2019. While acknowledging the issue in general, it was decided to refer it to the conversations about EAC reconciliation and a future move to a shared schema for the EAS in general.

Thereby this issue will be revisited at the stage of the next major revision.

[2019-09-26 13:21] kerstarno commented on #523
In their meeting on 23 September 2019, TS-EAS EAD team decided that this bug should be corrected. Issue is therefore assigned to the leads of the Schema team for next steps.

[2019-09-26 13:22] kerstarno commented on #522
In their meeting on 23 September 2019, TS-EAS EAD team decided that this bug should be corrected. Issue is therefore assigned to the leads of the Schema team for next steps.

[2019-09-30 14:12] fordmadox commented on #523
Just a note that I've checked into this issue, and it happens due to the "deglobalize.xsl" transformation process.

@tcatapano :  i plan to set up a test before making any changes, but do you remember exactly why that step was necessary?

[2019-10-01 18:10] tcatapano commented on #523
@fordmadox: it's been a while, but per the comment at  https://github.com/SAA-SDT/EAD3/blob/2f4f1d7bfe35ffd171260d8b1177e5bb0616a86f/inprocess/deglobalize/deglobalize.xsl#L14 the main function of the deglobalize.xsl transformation is to wrap definitions of any element not named 'ead' which is a child of  'xsd:schema' in 'xsd:complexType' elements so that they will not be available as root elements

[2019-10-02 14:13] fordmadox commented on #523
Thanks, @tcatapano!  I'll keep that in mind when I add a patch for this issue.

[2019-10-28 15:49] fordmadox commented on #498
@kerstarno :  sorry, just getting back to this now.  the issue would still be present since the DTD cannot include a namespace, and yet the schematron file for EAD3 includes the EAD3 namespace quite frequently.  i think this would be something important to discuss regarding the overall schema-design principles.

[2019-10-28 19:26] fordmadox commented on #522
This is already noted, but just a reminder that we'll also need to update the tag library with the release of version 1.1.1  See https://www.loc.gov/ead/EAD3taglib/index.html#elem-ref

[2019-10-29 11:56] kerstarno commented on #508
During their meeting on 28 October, EAD team of TS-EAS decided to assign this issue along with issues #467 and #501 to @fordmadox as team lead of the Schema team to indicate ownership being with that team.

Given that Schematron is only used with EAD3 at the moment, there remains, however, a close connection to the EAD team in finalising these issues.

[2019-10-29 11:57] kerstarno commented on #501
During their meeting on 28 October, EAD team of TS-EAS decided to assign this issue along with issues #467 and #508 to @fordmadox as team lead of the Schema team to indicate ownership being with that team.

Given that Schematron is only used with EAD3 at the moment, there remains, however, a close connection to the EAD team in finalising these issues.

[2019-10-29 11:57] kerstarno commented on #467
During their meeting on 28 October, EAD team of TS-EAS decided to assign this issue along with issues #501 and #508 to @fordmadox as team lead of the Schema team to indicate ownership being with that team.

Given that Schematron is only used with EAD3 at the moment, there remains, however, a close connection to the EAD team in finalising these issues.

[2019-10-29 13:00] fordmadox commented on #503
@kerstarno we'll need to keep this open for now.  Mike tried a fix for this, but unfortunately the bug persists once the DTDs are regenerated from the RNG schema.  I have not had a chance to investigate.  We should keep this issue open until either:  a) the bug is fixed, and we don't need to manually edit the derived 'undeprecated' DTD; or b) we agree to stop providing the undeprecated versions of

[2019-11-21 18:26] fordmadox commented on #499
I'm re-opening this issue.  Now that I'm prepping version 1.1.1, I realize that we haven't yet fixed this issue in the publication pipeline.  It would be good to do that before 1.2 rolls around.

[2019-11-21 18:30] fordmadox commented on #499
I also think we might want to change that namespace attribute, otherwise I think there's a difference between what's supported in the RNG vs XSD.  So, I think this could/should be:

[code]

But I need to test that out to make sure I'm reading this correctly :)

[2019-11-21 19:28] tcatapano commented on #499
@fordmadox Very good chance I may be misunderstanding, but do you really want to use "##other"? Wont that prevent wrapping of content within the ead3 namespace.

[2019-11-21 20:31] fordmadox commented on #499
@tcatapano :  my understanding was that the 1.1.0 XSD would validate anything at all within the objectxmlwrap element, whereas the RNG was set up to allow any namespace other than the EAD namespace.  i just tested a few different variations (both with Xerces and Xmllint), and I *think* that the results that i'm getting now agree with the tag library.  if you have a chance, please check out https:/

[2019-12-04 18:38] kerstarno commented on #484
EAD team discussed this issue once more during their meeting on 3 December 2019.

We don't see this to be an urgent community requirement, especially as it has not been requested or followed up for quite some time, and also are not 100% sure as to whether this might be too strict.

We would hence close this issue for the time being, but will be open to re-evaluate if community requests should be r

[2019-12-04 18:38] #484 closed

[2019-12-04 18:40] erussey commented on #517
I am replying to this thread following a call for comments on the EAD listserv, 12/4.  I agree with @rockivist that there needs to be a minimum description within the <did>, even if it's just an identifier.

While I agree in principle with @regineheberlein to reuse/integrate schemas in EAD rather than translating information, in this case, I think it's problematic for generating linked data from E

[2019-12-04 18:42] kerstarno commented on #498
Following the previous comment, EAD team decided during their meeting on 3 December 2019 to assign this issue to @fordmadox as the Schema team lead, so that it can be picked up in the context of the work on the schema design principles.

[2019-12-04 18:45] kerstarno commented on #503
Following the previous comment, EAD team decided during their meeting on 3 December 2019 to assign this issue to @fordmadox as the Schema team lead as a reminder in the context of future schema releases.

[2019-12-04 19:26] markcarlsonuw commented on #517
I don't think it's prudent to use metadata from a different namespace/standard as a means to replace or supplant some or all of the metadata that the EAD standard allows.  If the XML standard you are using is EAD, then the metadata should follow what is allowed in that standard.  Otherwise it becomes a data mapping/crosswalking issue between standards that XML itself is not prepared to handle.  It

[2019-12-05 08:09] kerstarno commented on #517
Hi @erussey and @markcarlsonuw - just a quick thank you for your initial comments. Good to get a better understanding of the community's thoughts.

[2019-12-05 14:50] ewg118 commented on #517
I agree with @rockivist and others that the embedded metadata from a different namespace should not replace the core requirements for the c/did. If I remember correctly, the core requirements for the `<did>` are fairly minimal. Unit title? Perhaps also Unit date/id and origination? It looks like the EAD 3 schema doesn't technically require anything, but DACS requires at least a little something.

[2019-12-11 14:40] regineheberlein commented on #517
I just don't think it's ever a good idea to describe resources in separate systems based on format. I'd much rather have the ability to describe them natively in the same system. Archival resources are by definition composed of a diverse range of formats. EAD doesn't currently support describing all of them in a comprehensive and structured way. Allowing item-level description from other namespace

[2019-12-11 14:52] ewg118 commented on #517
I think we fundamentally disagree on systems and whether or not one monolithic data model can accommodate a wide range of descriptions. Princeton owns over 100,000 coins. There's no way you can or should implement item level metadata for this collection in a finding aid. I pioneered the application of EAD to numismatics. And then I designed the NUDS schema, based examples from TEI, EAD, and EAC-CP

[2019-12-11 14:56] regineheberlein commented on #517
No, I’m absolutely not arguing for whole-sale item-level description… for anything. Goodness no! I am saying however that there is a need for item-level description in some cases, and so the model needs to accommodate the range of resources concerned.

Regine Heberlein
Library IT Data Analyst
609-258-6156
heberlei@princeton.edu

From: Ethan Gruber <notifications@github.com>
Reply-To: SAA-SDT/EAD3

[2019-12-12 09:56] kerstarno commented on #517
Hi @ewg118 and @regineheberlein - a quick thank you for your further engagement in this topic.

Personally, I understand arguments in favour of both perspectives. As EAD team lead within TS-EAS, I'd hence like to emphasise our plea for use cases and (encoding) examples, as this would really help us in understanding what exactly is needed and in thinking about possible solutions.

[2019-12-12 14:17] regineheberlein commented on #517
Thanks @kerstarno ! Going back to the use case I cited earlier, I suppose it could then look something like this (not claiming perfection here!), which gives structured access to the publisher and series natively in the bibliographic standard, however imperfect it may be:
'
<ead xmlns="urn:isbn:1-931666-22-9" xmlns:marc21="http://www.loc.gov/MARC21/slim"
    xmlns:xlink="http://www.w3.org/1999/xli

[2019-12-12 14:20] kerstarno commented on #517
Thanks @regineheberlein. We'll have a closer look at the example - hopefully in context with other examples that community members might post.

[2019-12-12 14:38] ewg118 commented on #517
I think that interoperability is going to be an issue here, especially if you allow an external XML namespace directly within the `<c>`. In order to allow this, the entire `<c>` component needs to have its schema requirements relaxed completely to the point that nothing is prohibited. You might as well remove the XSD validation altogether. I think that people are free to do whatever they want in t

[2019-12-12 16:02] markcarlsonuw commented on #517
I agree with Nathan.  This is especially problematic if your metadata is replacing EAD tags with non-EAD ones; for example, you use Dublin Core dc:title in place of <unittitle>. For an external system to understand that, it would need to know how to map every namespace tag to EAD which is impossible not only because it doesn't know how, but because there isn't going to be an equivalent, hence like

[2019-12-12 16:14] regineheberlein commented on #517
EAD already allows this element elsewhere though, so the interoperability question is not new.

[2019-12-12 16:29] ewg118 commented on #517
To me, the issue here is figuring out a solution for populating the `did` with fundamentally required metadata from your namespaced-in complex metadata schemas. Changing the `c` or `did` to allow literally any XML element _directly_ for the use-case of one institution will have tremendously negative consequences for data normalization and aggregation across the broader community. I understand the

[2019-12-12 16:40] ewg118 commented on #517
To add, let's consider this very common scenario:

You're an archivist at a historical society with a small collection of several hundred finding aids. You don't have the resources to run a content management system, so all of your finding aids are created in oXygen. The EAD3 committee changes the XSD to accommodate your use case, allowing all elements from any namespace in the `c` or `did`.

When

[2019-12-12 16:50] markcarlsonuw commented on #517
I shudder at the thought... :smile:

[2019-12-12 20:15] fordmadox commented on #499
Noting this here as well as the subteam notes directory in Github until we can set up an automated testing procedure.  Here's a reminder to test out this issue with xmllint, which can be run from the root of a new release branch (e.g. v1.1.1-develop), like so:

`xmllint --noout --schema ead3.xsd samples/ead3/EAD3test-xsd.xml`

[2019-12-12 20:24] doncat commented on #517
A new voice in this exchange.  I'm a Princeton colleague of Regine's.  I support her proposal, because it enables the widest possible range of resource description options.  Archival descriptions should not be limited to elements inherited from old-style finding aids.  To be most effective and most widely applicable, EAD should have the flexibility to call on other descriptive and encoding practic

[2019-12-12 21:38] fordmadox commented on #517
I don't have time just now to come up with an encoding example just now, but just a quick note to say that I really like Ethan's suggestion to use ```odd``` in this case and to keep ```did``` as it is.

```did``` is very low barrier, with just one child element being required; and heck, you could add an empty element if so inclined, or even just duplicate the holding repository name here if it was

[2019-12-16 13:09] regineheberlein commented on #517
I very much like the idea of making namespaces available on elements directly, without the wrapper.

I’m still unconvinced about shunting this information into odd, since what I have in mind isn’t “other” descriptive data but THE canonical metadata. Putting it in odd is a way forward to be sure, but not ideal.

Another idea to address the interoperability concerns might be to use elements from oth

[2019-12-16 13:22] kerstarno commented on #517
Quick thank you again to everyone for your contributions and for keeping up the conversation.

@regineheberlein - to be clear about your thought re `@encodinganalog`, would you imagine this to play out as follows:
[code]

(_Not saying, that this should be intended encoding moving forward, as I am trying to keep myself out of the conversation for now, only trying to understand what's meant and how

[2019-12-16 14:24] regineheberlein commented on #517
Thanks for checking in @kerstarno !

What I meant is a little different, and a bit of a wild idea / wishful thinking because it obviously would get in the way of validation: the use of @encodinganalog on elements from other namespaces. (Where @encodinganalog doesn't exist.) I fully understand the idea may not be be workable in this form, but perhaps it inspires a productive idea in someone else.

[2019-12-16 14:27] regineheberlein commented on #517
Unfortunately, I haven't had the time to look into the discussions around the first introduction of objectxmlwrap, where I assume the issue (and difficulties) of parsing elements from other namespaces must have been extensively discussed, perhaps revisiting those might spark further ideas?

[2019-12-16 18:35] markcarlsonuw commented on #517
How do you imagine handling the display of this data from other namespaces?  Even if you can figure out how to handle this structurally, it's another thing to be able to handle the end user display so that it displays in any meaningful way, especially if you plan to substitute the new namespace code for EAD.  You would need a stylesheet that could handle how to display code from multiple namespace

[2019-12-17 19:52] alexduryee commented on #517
I'm against this change on a couple of merits:

1) From a systems standpoint, this would be impossible to support - any access system would need to be able to support an arbitrary number of metadata elements.  For example, a system designed for taking in, parsing, and displaying `<unittitle>` strings would now need to parse and render subfields (MARC), `<titleInfo>` subelements (MODS), plain `<tit

[2019-12-17 22:42] fordmadox commented on #523
Closing this out since the change has been merged.

[2019-12-17 22:42] #523 closed

[2019-12-17 22:42] fordmadox commented on #522
Closing this out since the change has been merged.

[2019-12-17 22:42] #522 closed

[2019-12-17 22:44] fordmadox commented on #499
Keeping this open since the change required (for now) is still a manual one.  Should assign to 1.2, once that comes around.

[2019-12-19 17:09] kerstarno commented on #521
Closing this issue as having been dealt with as part of EAD3 1.1.1 (https://github.com/SAA-SDT/EAS-TagLibraries/pull/48)

[2019-12-19 17:09] #521 closed

[2020-03-16 15:48] kerstarno commented on #517
Dear all,

thanks very much to @regineheberlein for bringing this suggestion to the attention of the EAD team within TS-EAS. And thanks very much to everyone else for your comments, feedback and additional thoughts.

EAD team within TS-EAS has talked about this once more during the team meeting on 3 March, trying to take into account everything that has been said in the comments above. We have fur

[2020-03-16 15:48] #517 closed

[2020-03-16 16:13] kerstarno commented on #520
During the face-to-face meeting in Berlin (EAC-CPF revision) the topic of `<script>` was discussed again as part of the EAD3 reconciliation.

There are the following aspects to consider:
- In future, both EAS will use the attribute `@script` with all elements where language attribution seems suitable and useful. The element currently name `<script>` is meant to capture the script or writing system

[2020-03-16 17:13] kerstarno commented on #520
Options for a new name could be:

- `<writingsystem>` (inspired by some of the books referenced in the bibliography of the according ISO standard 15924, see https://www.iso.org/obp/ui/#iso:std:iso:15924:ed-1:v1:en, numbers 10, 21, and 23 as well as 16 and 24).
- `<scriptterm>`, which is used in MODS along with `<languageterm>`.
  - If this option were chosen, there might be the question if this wo

[2020-04-16 00:14] fordmadox commented on #520
Haven't thought about this too much yet, but I concur that there's no need for a script element and a script attribute.  The script attribute should suffice for all current uses that I've seen.  As for an element to capture more information, I like the `<writing-system>` suggestion.  Also note that TEI has `<scriptDesc>` and `<scriptNote>` elements.  See https://www.tei-c.org/release/doc/tei-p5-do

[2020-04-16 00:15] fordmadox commented on #520
In addition to `<script>`, it would be good to have a list of other "terms which permit code to be enacted in common web languages."

[2020-04-16 07:54] kerstarno commented on #520
Yes, I saw the `<scriptDesc>` and `<scriptNote>` options of TEI, but kind of wanted to avoid creating a "lengthy" description element, when we mainly would want to have the possibility to give the name of the language in full.

If we wanted to more generally look at the question of whether we'd need the element AND the attribute, we'd probably need to see this in the context of having:

- `<script

[2020-04-20 16:46] kerstarno commented on #520
During their meeting on 20 April 2020, TS-EAS' EAD team decided to rename the element `<script>` to `<writingsystem>`. For EAD, this will be part of a **future** major revision, for EAC-CPF this will be implemented as part of the **current** major revision (see https://github.com/SAA-SDT/eac-cpf-schema/issues/99).

The question of spelling ("smallletters", "camelCase" or "kebap-case") will be fina

[2020-04-20 17:14] kerstarno commented on #520
An additional question to be evaluated during the commenting phase for the draft to the new EAC-CPF is if the encoding of the writing system requires a separate element or if this could also be done via `<language>` and `@scriptcode`.

Example for a finding aid that describes material, which includes French and German texts, in Greek and in English:
[code]
or
[code]

[2020-04-23 13:07] kerstarno commented on #499
Moved this to 1.2 (even though we are not yet certain that and when we'll have such a release) in order to have the milestone for release 1.1.1 cleared.

[2020-04-24 09:25] kerstarno opened #526 "Placeholder preparing for the next major revision - <date> and <datesingle> reconciliation"
## Creator of issue

1. Kerstin Arnold
2. TS-EAS EAD team lead
3. @kerstarno
4.

## The issue relates to

- [ ] EAC-CPF schema issue
- [ ] EAC-CPF Tag Library issue
- [x] EAD schema issue
- [x] EAD Tag Library issue
- [ ] Schema issue
- [ ] Tag Library issue
- [ ] Suggestions for all schemas
- [ ] Suggestions for all Tag Libraries
- [ ] Other

## Wanted change/feature

When EAD3 adopted the model

[2020-04-24 09:40] kerstarno opened #527 "Placeholder preparing for the next major revision - Add new attribute @status to <date>, <fromdate>, and <todate>"
## Creator of issue

1. Kerstin Arnold
2. TS-EAS EAD Team lead
3. @kerstarno
4.

## The issue relates to

- [ ] EAC-CPF schema issue
- [ ] EAC-CPF Tag Library issue
- [x] EAD schema issue
- [x] EAD Tag Library issue
- [ ] Schema issue
- [ ] Tag Library issue
- [ ] Suggestions for all schemas
- [ ] Suggestions for all Tag Libraries
- [ ] Other

## Wanted change/feature

* Text: Adopt solution from

[2020-04-24 09:49] kerstarno opened #528 "Placeholder preparing for the next major revision - Schema change for <daterange>"
## Creator of issue

1. Kerstin Arnold
2. TS-EAS EAD Team lead
3. @kerstarno
4.

## The issue relates to

- [ ] EAC-CPF schema issue
- [ ] EAC-CPF Tag Library issue
- [x] EAD schema issue
- [x] EAD Tag Library issue
- [ ] Schema issue
- [ ] Tag Library issue
- [ ] Suggestions for all schemas
- [ ] Suggestions for all Tag Libraries
- [ ] Other

## Wanted change/feature

* Text: Adopt solution from

[2020-04-24 10:05] kerstarno opened #529 "Placeholder preparing for the next major revision - Add attributes @calendar and @era to <date>, <fromdate>, and <todate>"
## Creator of issue

1. Kerstin Arnold
2. TS-EAS EAD Team lead
3. @kerstarno
4.

## The issue relates to

- [ ] EAC-CPF schema issue
- [ ] EAC-CPF Tag Library issue
- [x] EAD schema issue
- [x] EAD Tag Library issue
- [ ] Schema issue
- [ ] Tag Library issue
- [ ] Suggestions for all schemas
- [ ] Suggestions for all Tag Libraries
- [ ] Other

## Wanted change/feature

* Text: Adopt solution from

[2020-06-08 17:06] kerstarno opened #530 "Placeholder preparing for the next major revision - Change attribute name @langcode to @languagecode"
## Creator of issue

1. Kerstin Arnold
2. TS-EAS EAD Team lead
3. @kerstarno
4.

## The issue relates to

- [ ] EAC-CPF schema issue
- [ ] EAC-CPF Tag Library issue
- [x] EAD schema issue
- [x] EAD Tag Library issue
- [ ] Schema issue
- [ ] Tag Library issue
- [ ] Suggestions for all schemas
- [ ] Suggestions for all Tag Libraries
- [ ] Other

## Wanted change/feature

* Text:  Rename the attribut

[2020-06-08 17:13] kerstarno commented on #520
During their meeting on 8 June, EAD team confirmed the additional suggestions to:

- Rename `@langcode` to `@languagecode`
- Rename `@lang` to `@languageofelement` and `@script` to `@scriptofelement`
- Remove `<language>` and (now) `<writingsystem>` as sub-elements from `<languagedeclaration>` and move `@languagecode` and `@scriptcode` to `<languagedeclaration>` directly

With regard to the latter

[2020-06-08 17:20] kerstarno opened #531 "Placeholder preparing for the next major revision - Change the content model of <maintenancestatus>"
## Creator of issue

1. Kerstin Arnold
2. TS-EAS EAD team lead
3. @kerstarno
4.

## The issue relates to

- [ ] EAC-CPF schema issue
- [ ] EAC-CPF Tag Library issue
- [x] EAD schema issue
- [x] EAD Tag Library issue
- [ ] Schema issue
- [ ] Tag Library issue
- [ ] Suggestions for all schemas
- [ ] Suggestions for all Tag Libraries
- [ ] Other

## Wanted change/feature

* Text: Follow the change in

[2020-06-08 17:21] kerstarno opened #532 "Placeholder preparing for the next major revision - Change the content model of <publicationstatus>"
## Creator of issue

1. Kerstin Arnold
2. TS-EAS EAD team lead
3. @kerstarno
4.

## The issue relates to

- [ ] EAC-CPF schema issue
- [ ] EAC-CPF Tag Library issue
- [x] EAD schema issue
- [x] EAD Tag Library issue
- [ ] Schema issue
- [ ] Tag Library issue
- [ ] Suggestions for all schemas
- [ ] Suggestions for all Tag Libraries
- [ ] Other

## Wanted change/feature

* Text: Follow the change in

[2020-06-08 17:22] kerstarno opened #533 "Placeholder preparing for the next major revision - Change the content model of <agenttype>"
## Creator of issue

1. Kerstin Arnold
2. TS-EAS EAD team lead
3. @kerstarno
4.

## The issue relates to

- [ ] EAC-CPF schema issue
- [ ] EAC-CPF Tag Library issue
- [x] EAD schema issue
- [x] EAD Tag Library issue
- [ ] Schema issue
- [ ] Tag Library issue
- [ ] Suggestions for all schemas
- [ ] Suggestions for all Tag Libraries
- [ ] Other

## Wanted change/feature

* Text: Follow the change in

[2020-06-08 17:23] kerstarno opened #534 "Placeholder preparing for the next major revision - Change the content model of <eventtype>"
## Creator of issue

1. Kerstin Arnold
2. TS-EAS EAD team lead
3. @kerstarno
4.

## The issue relates to

- [ ] EAC-CPF schema issue
- [ ] EAC-CPF Tag Library issue
- [x] EAD schema issue
- [x] EAD Tag Library issue
- [ ] Schema issue
- [ ] Tag Library issue
- [ ] Suggestions for all schemas
- [ ] Suggestions for all Tag Libraries
- [ ] Other

## Wanted change/feature

* Text: Follow the change in

[2020-06-08 17:35] kerstarno opened #535 "Placeholder preparing for the next major revision - Enable attributes @certainty, @notafter and @notbefore consistenly with <date>, <fromdate> and <todate>"
## Creator of issue

1. Kerstin Arnold
2. TS-EAS EAD Team lead
3. @kerstarno
4.

## The issue relates to

- [ ] EAC-CPF schema issue
- [ ] EAC-CPF Tag Library issue
- [x] EAD schema issue
- [x] EAD Tag Library issue
- [ ] Schema issue
- [ ] Tag Library issue
- [ ] Suggestions for all schemas
- [ ] Suggestions for all Tag Libraries
- [ ] Other

## Wanted change/feature

* Text: Ensure that all sing

[2020-07-30 19:14] kerstarno opened #536 "Placeholder preparing for the next major revision - Rename and adapt @langencoding"
## Creator of issue

1. Kerstin Arnold
2. TS-EAS EAD team lead
3. kerstarno
4.

## The issue relates to

- [ ] EAC-CPF schema issue
- [ ] EAC-CPF Tag Library issue
- [x] EAD schema issue
- [x] EAD Tag Library issue
- [ ] Schema issue
- [ ] Tag Library issue
- [ ] Suggestions for all schemas
- [ ] Suggestions for all Tag Libraries
- [ ] Other

## Wanted change/feature
* Text: Rename `@langencoding`

[2020-07-30 19:38] kerstarno opened #537 "Placeholder preparing for the next major revision - Ensure that language attribution is available for all non-empty elements"
## Creator of issue

1. Kerstin Arnold
2. TS-EAS EAD team lead
3. kerstarno
4.

## The issue relates to

- [ ] EAC-CPF schema issue
- [ ] EAC-CPF Tag Library issue
- [x] EAD schema issue
- [x] EAD Tag Library issue
- [ ] Schema issue
- [ ] Tag Library issue
- [ ] Suggestions for all schemas
- [ ] Suggestions for all Tag Libraries
- [ ] Other

## Wanted change/feature
* Text: Language attribution (

[2020-07-30 20:17] kerstarno opened #538 "Placeholder preparing for the next major revision - Rename @identifier to @valueuri and @source to @vocabularysource"
## Creator of issue

1. Kerstin Arnold
2. TS-EAS EAD team lead
3. kerstarno
4.

## The issue relates to

- [ ] EAC-CPF schema issue
- [ ] EAC-CPF Tag Library issue
- [x] EAD schema issue
- [x] EAD Tag Library issue
- [ ] Schema issue
- [ ] Tag Library issue
- [ ] Suggestions for all schemas
- [ ] Suggestions for all Tag Libraries
- [ ] Other

## Wanted change/feature
* Text: A new set of attribute

[2020-07-30 20:25] kerstarno opened #539 "Placeholder preparing for the next major revision - Review the use of the attribute @rules"
## Creator of issue

1. Kerstin Arnold
2. TS-EAS EAD team lead
3. kerstarno
4.

## The issue relates to

- [ ] EAC-CPF schema issue
- [ ] EAC-CPF Tag Library issue
- [x] EAD schema issue
- [x] EAD Tag Library issue
- [ ] Schema issue
- [ ] Tag Library issue
- [ ] Suggestions for all schemas
- [ ] Suggestions for all Tag Libraries
- [ ] Other

## Wanted change/feature
* Text: With the solution for

[2020-07-30 20:29] kerstarno opened #540 "Placeholder preparing for the next major revision - Adopt assertion description as suggested for EAC-CPF"
## Creator of issue

1. Kerstin Arnold
2. TS-EAS EAD team lead
3. kerstarno
4.

## The issue relates to

- [ ] EAC-CPF schema issue
- [ ] EAC-CPF Tag Library issue
- [x] EAD schema issue
- [x] EAD Tag Library issue
- [ ] Schema issue
- [ ] Tag Library issue
- [ ] Suggestions for all schemas
- [ ] Suggestions for all Tag Libraries
- [ ] Other

## Wanted change/feature
* Text:  See https://github.co

[2020-07-30 20:32] kerstarno opened #541 "Placeholder preparing for the next major revision - Adopt change to <relations> as suggested for EAC-CPF"
## Creator of issue

1. Kerstin Arnold
2. TS-EAS EAD team lead
3. kerstarno
4.

## The issue relates to

- [ ] EAC-CPF schema issue
- [ ] EAC-CPF Tag Library issue
- [x] EAD schema issue
- [x] EAD Tag Library issue
- [ ] Schema issue
- [ ] Tag Library issue
- [ ] Suggestions for all schemas
- [ ] Suggestions for all Tag Libraries
- [ ] Other

## Wanted change/feature
* Text:  See https://github.co

[2020-07-30 20:38] kerstarno opened #542 "Placeholder preparing for the next major revision - Review the use of the attributes @relator and @normal for <controlaccess> sub-elements"
## Creator of issue

1. Kerstin Arnold
2. TS-EAS EAD team lead
3. @kerstarno
4.

## The issue relates to

- [ ] EAC-CPF schema issue
- [ ] EAC-CPF Tag Library issue
- [x] EAD schema issue
- [x] EAD Tag Library issue
- [ ] Schema issue
- [ ] Tag Library issue
- [ ] Suggestions for all schemas
- [ ] Suggestions for all Tag Libraries
- [ ] Other

## Wanted change/feature
* Text: With the addition of

[2020-07-30 20:55] kerstarno opened #543 "Placeholder preparing for the next major revision - Review the use of <legalstatus> as either an informal descriptive element or a term-based element"
## Creator of issue

1. Kerstin Arnold
2. TS-EAS EAD team lead
3. @kerstarno
4.

## The issue relates to

- [ ] EAC-CPF schema issue
- [ ] EAC-CPF Tag Library issue
- [x] EAD schema issue
- [x] EAD Tag Library issue
- [ ] Schema issue
- [ ] Tag Library issue
- [ ] Suggestions for all schemas
- [ ] Suggestions for all Tag Libraries
- [ ] Other

## Wanted change/feature
* Text: Review the use of `<l

[2020-10-03 12:01] SJagodzinski opened #544 "Placeholder preparing for the next major revision - Review the use of <localControl>"
## Creator of issue
1. Silke Jagodzinski
2. TS-EAS: EAC-CPF subgroup
3. silkejagodzinski@gmail.com

## The issue relates to

- [x] EAC-CPF schema issue
- [x] EAC-CPF Tag Library issue
- [x] EAD schema issue
- [x] EAD Tag Library issue
- [ ] Schema issue
- [ ] Tag Library issue
- [ ] Suggestions for all schemas
- [ ] Suggestions for all Tag Libraries
- [ ] Other

## Wanted change/feature

* Text: R

[2020-12-14 16:00] kerstarno commented on #544
EAD team discussed this issue during their November meeting and it was decided that we will be asking for EAD3 examples in general as well as for use cases for `<localControl>` specifically when announcing the upcoming major revision of EAD. The aim would be to have some more insight in the usage of `<localControl>` within EAD before the end of the call for comments period of the major EAC revisio

[2020-12-22 23:55] fordmadox commented on #508
Just a note / reminder that after EAC-CPF revision goes out for comment, I will create a customized extension for EAD3/EAC-CPF 2.0 which demonstrates how both can be extended and document that on our wiki.

[2021-03-19 11:19] kerstarno commented on #527
Update: the draft for EAC-CPF 2.0 currently includes:

- `@status` with "unknown" and "open" for `<toDate>`
- `@status` with "unknown" for `<fromDate>`
- no `@status` attribute for `<date>`

[2021-10-10 08:19] karinbredenberg opened #545 "I have problem to transform the EAD xsd to xml"
## Creator of issue

1. Gilda Ferrandino
2. gferrandino@unior.it
3.
4.

## The issue relates to

- [ ] EAC-CPF schema issue
- [ ] EAC-CPF Tag Library issue
- [x] EAD schema issue
- [ ] EAD Tag Library issue
- [ ] Schema issue
- [ ] Tag Library issue
- [ ] Suggestions for all schemas
- [ ] Suggestions for all Tag Libraries
- [x] Other

## Reporting a bug

* Text: I am using Oxygen to transform the

[2021-10-12 14:21] alexduryee commented on #545
I'm not entirely clear as to what the issue is - what process is being run on the XSD, and what is the expected output?  Is this via oXygen's Generate Sample XML Files tool?

[2021-10-12 14:26] kerstarno commented on #545
@alexduryee - I'm currently reaching out to the colleague who submitted this issue via the TS-EAS webform to find out more. Will update the issue accordingly once I've heard back from her.

[2021-12-17 08:34] kerstarno commented on #545
Gathered feedback from within the EAD team and other members of TS-EAS, but the overall conclusion has been that the easiest way to get to a reusable template that has a `<c>` that contains all desired child elements would be to create an EAD document that looks however wanted, save it, and then use that as the base document for all new EADs.  Instead of inserting a new <c> element, one could then

[2021-12-17 08:34] #545 closed, assigned to nobody

[2022-03-09 23:40] HughP opened #547 "Changing language code documentation"
## Creator of issue

1. University of Oregon, i@hp3.me

## The issue relates to

- [ ] EAC-CPF schema issue
- [ ] EAC-CPF Tag Library issue
- [x] EAD schema issue
- [ ] EAD Tag Library issue
- [ ] Schema issue
- [ ] Tag Library issue
- [ ] Suggestions for all schemas
- [ ] Suggestions for all Tag Libraries
- [ ] Other

## Wanted change/feature

* Text: The current EAD3 Says to use the ISO 639-2b s

[2022-03-10 11:47] kerstarno commented on #547
Thanks, @HughP. We'll keep the Tag Library description in mind.

@fordmadox - could you please check, with regard to Hugh's point about the annual update of ISO639-3, that Schematron uses the most up to date version? The linked commit currently points to the version from February 2021, so we might already want to update this in the context of finalising Schematron for EAC-CPF 2.0.

In general, if

[2022-07-10 12:53] SJagodzinski opened #548 "Example for @linkrole"
Example values for [`@linkrole`](https://loc.gov/ead/EAD3taglib/EAD3.html#attr-linkrole)

## Creator of issue

1. Silke Jagodzinski
2. TS-EAS: EAC-CPF subgroup
3. silkejagodzinski@gmail.com

## The issue relates to

- [ ] EAC-CPF schema issue
- [ ] EAC-CPF Tag Library issue
- [ ] EAD schema issue
- [x] EAD Tag Library issue
- [ ] Schema issue
- [ ] Tag Library issue
- [ ] Suggestions for all schem

[2022-07-30 16:59] fordmadox opened #549 "Schematron bug, related to ISO 15511 regular expression pattern"
While testing the new schematron file for EAC 2.0, I noticed that the regex borrowed from the EAD3 schematron has a small bug.  For example, the following value is valid according to the EAD3 schematron:

US-oclc-12345678901

However, that is a fake 19 digit code, which should NOT be valid.  That same 19-digit code is, correctly, not valid in EAD2002 nor EAC 1.0.

I am going to recreate that patte

[2022-07-30 17:09] fordmadox commented on #549
Just to follow up, I tested reversing the first two characters of the current regex, and that does indeed fix the issue.

[2022-07-30 17:14] fordmadox commented on #549
See https://github.com/SAA-SDT/eas-schematrons/commit/afe49d184b3d25d041557eab109eb5f47e9d9f37 for the patch.

I'm still planning to update this in the new Schematron to use the country codes, however.

[2022-08-01 06:47] kerstarno commented on #549
Hi @fordmadox,

I agree that we should restrict a repository/maintenance agency code that is declared to be ISO 15511 compliant to maximal 16 characters. However, XX actually is a valid country code as it is part of the ranges that can be user-assigned. What it stands for might be different from one context to another, but against ISO 3166-1 it is valid.

"User-assigned codes - If users need code

[2022-08-01 21:42] fordmadox commented on #549
@kerstarno Regarding "XX" and ISO 3166, or any codes reserved for private use (e.g. 'qab' in ISO 639-2), I wonder if we should still flag those as invalid.

Given that there is no agreement about what those codes can represent, shouldn't we expect a user to record their usage within the control section, and also set the code list "otherCountryEncoding"?.

That country code (not to mention the nume

[2022-08-02 07:29] kerstarno commented on #549
@fordmadox - I see your point about it not being clear what "XX" (or any other of these user assigned codes) stands for specifically, but they are part of the ISO 3166, so "otherCountryEncoding" would not necessarily be correct, I'd say.

Also, with the officially assigned codes we only check whether they are part of the ISO standard, we don't necessarily relate them to the appropriate country nam

[2022-09-28 15:13] karinbredenberg opened #550 "Suggestion of a new value "download" for attribute @show"
## Creator of issue
1. Nils Meyer, Baden-Württemberg State Archives, Germany, [nils.meyer@la-bw.de](mailto:nils.meyer@la-bw.de)

## The issue relates to

- [ ] EAC-CPF schema issue
- [ ] EAC-CPF Tag Library issue
- [X] EAD schema issue
- [X] EAD Tag Library issue
- [ ] Schema issue
- [ ] Tag Library issue
- [ ] Suggestions for all schemas
- [ ] Suggestions for all Tag Libraries
- [ ] Other

## Wan